<ion-content>
    <div class="main-login">
        
        <div class="logo">
            <img  style="height:220px"src="assets/imgs/kei.png">
        </div>
        <form [formGroup]="validations_form" (ngSubmit)="form.phone?.length == 10 ? login_submit() : ''" autocomplete="off">
            <div class="cs-form">
                <div class="heading">
                    <!-- <div class="login-back">
                        <button (click)="bck()"><ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
                    </div> -->
                    <p class="pl50">LOGIN</p>
                </div>
                <ion-list class="mb40">
                    <ion-item>
                        <ion-label><img src="assets/imgs/phone-call.svg"></ion-label>
                        <ion-input type="tel" minlength="10" maxlength="10" [(ngModel)]="form.phone" placeholder="*Mobile Number" formControlName="phone"></ion-input>
                    </ion-item>
                    
                    <p class="error-left relative" *ngIf="validations_form.get('phone').hasError('required') && validations_form.get('phone').touched">*Required</p>
                    <p class="error-left relative" *ngIf="(validations_form.get('phone').hasError('minlength') || validations_form.get('phone').hasError('maxlength')) && validations_form.get('phone').touched">*Mobile No. not valid</p>
                </ion-list>
                <div class="login-button">
                    <button ion-button [disabled]="loading == '1'">LOGIN </button>
                </div>
            </div>
        </form>
    </div>
</ion-content>