page-attendence-new {
    
    .capsule-tabsnew {
        position: sticky;
        top: 0px;
        left: 0px;
        z-index: 2;
        ul {
            display: flex;
            overflow: auto;
            li {
                background: #64104b;
                display: flex;
                align-items: center;
                width: 100%;
                padding: 8px 4px;
                white-space: nowrap;
                justify-content: center;
                border-right: 1px solid #fff;
                font-size: 12px;
                color: #ffffff;
                
                &:last-child
                {
                    border-right: 0px;
                }
                &.active {
                    background: #ffffff;
                    border-top: 2.5px solid #64104b;
                    font-weight: 600;
                    color: #000000;
                    p {
                        color: #000000;
                        span {
                            background: #64104b;
                            color: #ffffff;
                        }
                    }
                }
            }
            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 100%;
                width: 10px;
                z-index: 1;
            }
            &:after {
                left: -10px;
                box-shadow: 6px 4px 14px -5px rgba(255, 255, 255, 0.9);
            }
            &:before {
                right: -10px;
                box-shadow: 6px -4px 14px 5px rgba(255, 255, 255, 0.9);
            }
        }
    }
    
    .cs-top-list {
        background: #ffffff;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 16px;
        overflow: hidden;
        position: sticky;
        top: 30px;
        left: 0px;
        z-index: 2;
        
        .cs-top {
            // border-bottom: 1px dashed #ccc;
            display: flex;
            align-items: center;
            margin: 0px -10px;
            padding: 0px 10px 10px 10px;
            justify-content: space-evenly;
            
            .list-content {
                position: relative;
                padding-right: 10px;
                margin-right: 10px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                border-right: 1px dashed #ccc;
                p {
                    font-size: 17px;
                    font-weight: 600;
                    width: 100%;
                    text-align: center;
                    line-height: 16px;
                    
                    &.leave {
                        color: #f8d50e;
                    }
                    &.absent {
                        color: #ff0303;
                    }
                    &.present {
                        color: #0a550e;
                    }
                }
                span {
                    font-size: 13px;
                    color: #000000;
                    opacity: 0.7;
                    line-height: 19px;
                }
            
               &:last-child {
                        margin-right: 0px;
                        border-right: 0px;
                        &:after {
                            background: none;
                        }
                    }
                }
            }
        }
        
    .collapse {  
            
            .collapse-head {
                
                border: 2px solid #10641b;
                display: flex;
                border-radius: 12px;
                align-items: center;
                min-height: 45px;
                position: relative;
                overflow: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    width: 8px;
                    height: 100%;
                    background: #176410;
                }
                
                .date-head
                {
                    width: 100%;
                    text-align: left;
                    padding-left: 40px;
                    
                    p
                    {
                        color: #000000;
                        text-align: left;
                        font-size: 11px;
                        font-weight: 500;
                        opacity: 0.6;
                        width: inherit;
                        border: 0px;
                    }
                    
                    span
                    {
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
                
                p {
                    min-width: 50px;
                    width: 550px;
                    border-right: 2px solid #cccccc;
                    color: #000000;
                    padding: 0px 5px;
                    text-align: center;
                    font-size: 11px;
                    font-weight: 500;
                    span
                    {
                        i
                        {
                            font-size: 14px;
                            color: #000000;
                            font-weight: 500;
                        }
                        
                    }
                    
                }
                .info {
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    background: #fff;
                    font-size: 13px;
                    font-weight: 600;
                    color: #176410;
                    padding-left: 30px;
                    text-align: center;
                    
                    &:after {
                        content: 'keyboard_arrow_down';
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        font-family: 'Material Icons';
                        font-size: 20px;
                        line-height: 20px;
                        color: #000000;
                    }
                    
                }
            }
            
            .collapse-body {
                height: 0px;
                overflow: hidden;
                transition: 0.5s;
                background: #ffffff;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
                padding: 10px;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                margin-bottom: 16px;
                overflow: hidden;
                .head {
                    font-size: 12px;
                    margin-top: 14px;
                    font-weight: 600;
                    color: #000000;
                }
                .two-col {
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    grid-column-gap: 10px;
                    .col-box 
                    {
                        padding: 3px 0px;
                        display: flex;
                        align-items: center;
                        
                        span
                        {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 14px;
                            
                            &.remark {
                                font-weight: normal;
                            }
                        }
                        p {
                            font-size: 11px;
                            color: #000000;
                            opacity: 0.7;
                            width: 65px;
                        }
                    }
                }
            }
            &.expand {
                .collapse-head {
                    border-radius: 12px 12px 0px 0px;
                    &:after {
                        transform: translateY(-50%) rotate(180deg);
                    }
                }
                .collapse-body {
                    padding-bottom: 10px;
                    height: auto;
                    overflow: initial;
                }
            }
            &:last-child {
                border-bottom: 1px solid #d0cfcf;
            }

            &.yellow
            {
                .collapse-head
                {
                    border: 2px solid #ff0;

                    .info
                    {
                        color: #ff0;
                    }

                    &:after
                    {
                        background: #ff0;
                    }
                }
            }

            &.red
            {
                .collapse-head
                {
                    border: 2px solid #ff0000;

                    .info
                    {
                        color: #ff0000;
                    }

                    &:after
                    {
                        background: #ff0000;
                    }
                }
            }

            &.grey
            {
                .collapse-head
                {
                    border: 2px solid #5c5c5c;

                    .info
                    {
                        color: #5c5c5c;
                    }

                    &:after
                    {
                        background: #5c5c5c;
                    }
                }
            }
            
            
            
        }
        
    }
    