<ion-header>
  <ion-navbar>
    <ion-title *ngIf="checkinType=='My'">My Checkins--{{attendancelist.Total_Working_Time}}</ion-title>
    <ion-title *ngIf="checkinType!='My'"><h1 text-wrap>Team Checkins</h1></ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
        
        <!-- <ion-icon name="ellipsis-vertical"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <div class="edit mb0"*ngIf="checkinType!='My'">
    <ion-list>
      <ng-container>
        <ion-item class="cs-normal-select mt15 mb0">
          <ion-label>Select User</ion-label>
          <ion-select  placeholder="Select User" name="user"  [(ngModel)]="data"(ngModelChange)="getCkeckInData()" >
            <ion-option *ngFor="let row of user_list" value="{{row.id}}" >{{row.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ng-container>
      
      
    </ion-list>
  </div>
  
  <div class="nothing-here"  *ngIf="!data&&checkinType!='My'">
    <div class="outer">
      <div class="innear">
        <img src="assets/imgs/select_please.jpg" alt="">
        <!-- <p>Data not Available</p> -->
      </div>
    </div>
  </div>
  <ng-container *ngIf="checkinType=='My'">
    <div class="month-calander">
      <button class="dates" (click)="changeDate('previous')"><i class="material-icons">keyboard_arrow_left</i></button>
      <p>{{selected_date | date:'d MMM, y' }}</p>
      <button class="dates" (click)="changeDate('next')"><i class="material-icons">keyboard_arrow_right</i></button>
      <!-- <button class="months"><i class="material-icons">calendar_month</i></button> -->
    </div>
    
    
    <div class="checkin-table">
      <div class="checkin-day">
        <div class="visits">
          <span>Day Start</span>
          <p *ngIf="attendancelist.start_time =='00:00:00'">--</p>
          <p *ngIf="attendancelist.start_time !='00:00:00'">{{attendancelist.start_time_withDate | date:'hh:mm a'}}</p>
        </div>
        <div class="visits">
          <span>Day End</span>
          <p *ngIf="attendancelist.stop_time =='00:00:00'">--</p>
          <p *ngIf="attendancelist.stop_time !='00:00:00'">{{attendancelist.stop_time_withDate | date:'hh:mm a'}}</p>
        </div>
        <div class="visits">
          <span>Total Work Hours</span>
          <p>{{attendancelist.Total_Working_Time}}</p>
        </div>
        
      </div>
      <table>
        <tr>
          <td class="w30">
            <i class="material-icons">pin_drop</i>
          </td>
          <td>
            Total Counter Visit
          </td>
          <td class="w100">
            {{checkin_count_data.total_checkin_count}}
          </td>
        </tr>
        <tr class="new">
          <td class="w30">
            <i class="material-icons">person</i>
          </td>
          <td>
            New Counter
          </td>
          <td>
            {{checkin_count_data.newCounterVisit}}
          </td>
        </tr>
        <tr>
          <td class="w30">
            <i class="material-icons">person</i>
          </td>
          <td>
            Old Counter
          </td>
          <td>
            {{checkin_count_data.oldCounterVisit}}
          </td>
        </tr>
        <tr>
          <td class="w30">
            <i class="material-icons">location_on</i>
          </td>
          <td>
            Travel in KM
          </td>
          <td>
            {{checkin_count_data.total_km_distance?checkin_count_data.total_km_distance:'0'}} KM
          </td>
        </tr>
        
        <tr class="primary-odr">
          <td class="w30">
            <i class="material-icons">receipt</i>
          </td>
          <td>
            <p>Primary Order<button class="count">{{checkinData?.primary_order}}</button> </p>
          </td>
          <td>
            &#8377; {{checkinData?.primary_order_amount}}
          </td>
        </tr>
        <tr class="sec-odr">
          <td class="w30">
            <i class="material-icons">receipt</i>
          </td>
          <td>
            <p>Secondary Order <button class="count">{{checkinData?.secondary_order}}</button> </p>
          </td>
          <td>
            &#8377;{{checkinData?.secondary_order_amount}}
          </td>
        </tr>
        <tr>
          <td class="w30">
            <i class="material-icons">account_balance_wallet</i>
          </td>
          <td>
            Expense
          </td>
          <td>
            &#x20B9; {{expense?expense:'0'}}/-
          </td>
        </tr>
      </table>
    </div>
    
    
    
    <div class="middle-button">
      <span [ngClass]="{'active' : actual==true}" (click)="actual=true;traveled=false;">
        Actual Travel
      </span>
      <span [ngClass]="{'active' : traveled==true}" (click)="traveled=true;actual=false;">
        Travel Plan
      </span>
    </div>
    
    
    <div [ngSwitch]="travelPlan">
      <ng-container *ngIf="actual==true">
        <div class="travel">
          <ul>
            <li>
              <span class="vistit-count">
                <i class="material-icons">location_on</i>
              </span>
              <p style="font-size:12px"><strong>Day Start</strong> ({{attendancelist.start_time_withDate | date:'hh:mm a'}})-{{attendancelist.start_address}}</p>
            </li>
              <li *ngIf="checkinData.actual_travel!=null">
                <li *ngFor="let row of checkinData.actual_travel;let i = index;">
                  <span class="vistit-count">{{i+1}}</span>
                  <span class="km">{{row.km}} KM</span>
                  <div class="counter">
                    <div  *ngIf="row.NEW_COUNTER=='FALSE'">
                      
                      <h2 *ngIf="row.company_name!=null">{{row.company_name | titlecase}} <span *ngIf="row.company_name!=''">({{row.name | titlecase}})</span>
                        <span *ngIf="row.type=='3'">(Retailer)</span>
                        <span *ngIf="row.type=='1'">(Distributor)</span>
                        <span *ngIf="row.type=='2'">(Dealer)</span>
                        <span *ngIf="row.type=='4'">(Project)</span>
                        <span *ngIf="row.type=='12'">(Direct Customer)</span>
                        <span *ngIf="row.type=='5'">(Architect)</span>
                        <span *ngIf="row.type=='6'">(Constructor)</span>
                        <span *ngIf="row.type=='7'">(Contractor)</span>
                        <span *ngIf="row.type=='8'">(Interior Designer)</span>
                        <span *ngIf="row.type=='10'">(Electrician)</span>
                        <span *ngIf="row.type=='9'">(Online)</span>
                      </h2>
                      <h2 *ngIf="row.company_name==null&&row.name==null">{{row.activity_mode | titlecase}}</h2>
                      <div class="visit-time">
                        <div class="visit-hours">
                          <span>Check-in</span>
                          <p>{{row.visit_start| date:'hh:mm a'}}</p>
                        </div>
                        <div class="visit-hours">
                          <span>Check-out</span>
                          <p>{{row.visit_end| date:'hh:mm a'}}</p>
                        </div>
                        <div class="visit-hours">
                          <span>Total time spend</span>
                          <p>{{row.TOTAL_TIME_TAKE}}</p>
                        </div>
                      </div>
                    </div>
                    <div  style="background-color: #fce03fd3;"*ngIf="row.NEW_COUNTER=='TRUE'">
                      
                      <h2>{{row.company_name | titlecase}} <span *ngIf="row.company_name!=''">({{row.name | titlecase}})</span>
                        <span *ngIf="row.type=='3'">(Retailer)</span>
                        <span *ngIf="row.type=='1'">(Distributor)</span>
                        <span *ngIf="row.type=='2'">(Dealer)</span>
                        <span *ngIf="row.type=='4'">(Project)</span>
                        <span *ngIf="row.type=='12'">(Direct Customer)</span>
                        <span *ngIf="row.type=='5'">(Architect)</span>
                        <span *ngIf="row.type=='6'">(Constructor)</span>
                        <span *ngIf="row.type=='7'">(Contractor)</span>
                        <span *ngIf="row.type=='8'">(Interior Designer)</span>
                        <span *ngIf="row.type=='10'">(Electrician)</span>
                        <span *ngIf="row.type=='9'">(Online)</span>
    
    
                      </h2>
    
                        
                      <div class="visit-time">
                        <div class="visit-hours">
                          <span>Check-in</span>
                          <p>{{row.visit_start| date:'hh:mm a'}}</p>
                        </div>
                        <div class="visit-hours">
                          <span>Check-out</span>
                          <p>{{row.visit_end| date:'hh:mm a'}}</p>
                        </div>
                        <div class="visit-hours">
                          <span>Total time spend</span>
                          <p>{{row.TOTAL_TIME_TAKE}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="type-visit">
                      <div class="types">
                        <span *ngIf="row.order_flag=='1'"class="active">&nbsp;</span>
                        <span *ngIf="row.order_flag=='0'">&nbsp;</span>
                        
                        Order
                      </div>
                      <div class="types">
                        <span *ngIf="row.followup_flag=='1'"class="active">&nbsp;</span>
                        <span *ngIf="row.followup_flag=='0'">&nbsp;</span>
                        
                        Followup
                      </div>
                      <div class="types">
                        <span *ngIf="row.Doc!=null"class="active">&nbsp;</span>
                        <span *ngIf="row.Doc==''||row.Doc==null">&nbsp;</span>
                        Photo upload
                      </div>
                      
                    </div>
                    <div class="type-visit1">
                      <div class="types">
                        
                       <b>GPS Address</b> -{{row.start_address}}
                      </div>
                     
                      
                    </div>
                  </div>
                </li>
               
            
           
            <li>
              <span class="vistit-count">
                <i class="material-icons">location_on</i>
                <!-- <span class="km">{{attendancelist.distance_from_last_checkin}} KM</span> -->

              </span>
              <p style="font-size:12px"*ngIf="checkinData.actual_travel!=null&&attendancelist.stop_time !='00:00:00'"><strong>Day Stop</strong> ({{attendancelist.stop_time_withDate | date:'hh:mm a'}} -{{attendancelist.distance_from_last_checkin}} km )<span  style="font-size:12px">-{{attendancelist.stop_address }}</span>  </p>
              <!-- <p *ngIf="checkinData.actual_travel!=null&&attendancelist.stop_time !='00:00:00'"><strong> Stop Address-</strong> {{attendancelist.stop_address }}</p> -->

            </li>
          </ul>
        </div>
        
      </ng-container>
      <div *ngIf="checkinData.actual_travel==null">
        
        <div *ngIf="actual==true" class="actual-travel" >
          <div class="nothing-here" >
            <div class="outer">
              <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>No Checkins</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <ng-container *ngIf="traveled==true&&checkinData.travel_plan!=null">
        <div class="planned-travel">
          <div class="content-box-traveled" *ngFor="let row of checkinData.travel_plan.area_dealer_list">
            <p *ngIf="row.travel_type!='Other'">{{row.company_name | titlecase}} <span *ngIf="row.name!=''">({{row.name | titlecase}})</span></p>
            <p *ngIf="row.travel_type=='Other'" >{{row.status_remark}}</p>

            <div class="address"*ngIf="row.state!=''&&row.travel_type!='Other'">
              <p>Address: <span >{{row.address}},{{row.district}},{{row.state}},{{row.pincode}}</span></p>
            </div>
            <div class="address"*ngIf="row.travel_type=='Other'">
              <p>City: <span >{{row.city}}</span></p>
            </div>
            <div class="status-section"*ngIf="row.travel_type!='Other'">
              <p>Visit Status <button [ngClass]="{'pending':row.checkin_id== null,'complete':row.checkin_id!= null}">{{row.checkin_id== null?'Pending':'Complete'}}</button></p>
              </div>
            <div class="status-section"*ngIf="row.travel_type!='Other'&&row.checkin_id==null">

              <p><button ion-button block class="h40 green-color mt20" style="letter-spacing: 1px;"  (click)="(attendancelist.start_time != '00:00:00' || attendancelist.start_time != '') ? startVisit(row.id,row.name) : show_Error() "><span style="color:white">Checkin</span></button></p>
              
            </div>
            <!-- <div class="status-section"*ngIf="row.travel_type!='Other'&&row.checkin_id!= null">
              

            </div> -->
          </div>
        </div>
      </ng-container>
      <div *ngIf="checkinData.travel_plan==null">
        
        <div *ngIf="traveled==true" class="planned-travel" >
          <div class="nothing-here" >
            <div class="outer">
              <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>No Travel Plan</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </ng-container>
  <ng-container *ngIf="checkinType!='My' &&data">
    <div class="month-calander mt16">
      <button class="dates" (click)="changeDate('previous')"><i class="material-icons">keyboard_arrow_left</i></button>
      <p>{{selected_date | date:'d MMM, y' }}</p>
      <button class="dates" (click)="changeDate('next')"><i class="material-icons">keyboard_arrow_right</i></button>
      <!-- <button class="months"><i class="material-icons">calendar_month</i></button> -->
    </div>
    
    
    <div class="checkin-table">
      <div class="checkin-day">
        <div class="visits">
          <span>Day Start</span>
          <p *ngIf="attendancelist.start_time =='00:00:00'">--</p>
          <p *ngIf="attendancelist.start_time !='00:00:00'">{{attendancelist.start_time_withDate | date:'hh:mm a'}}</p>
        </div>
        <div class="visits">
          <span>Day End</span>
          <p *ngIf="attendancelist.stop_time =='00:00:00'">--</p>
          <p *ngIf="attendancelist.stop_time !='00:00:00'">{{attendancelist.stop_time_withDate | date:'hh:mm a'}}</p>
        </div>
        <div class="visits">
          <span>Total Work Hours</span>
          <p>{{attendancelist.Total_Working_Time}}</p>
        </div>
        
      </div>
      <table>
        <tr>
          <td class="w30">
            <i class="material-icons">pin_drop</i>
          </td>
          <td>
            Total Counter Visit
          </td>
          <td class="w100">
            {{checkin_count_data.total_checkin_count}}
          </td>
        </tr>
        <tr class="new">
          <td class="w30">
            <i class="material-icons">person</i>
          </td>
          <td>
            New Counter
          </td>
          <td>
            {{checkin_count_data.newCounterVisit}}
          </td>
        </tr>
        <tr>
          <td class="w30">
            <i class="material-icons">person</i>
          </td>
          <td>
            Old Counter
          </td>
          <td>
            {{checkin_count_data.oldCounterVisit}}
          </td>
        </tr>
        <tr>
          <td class="w30">
            <i class="material-icons">location_on</i>
          </td>
          <td>
            Travel in KM
          </td>
          <td>
            {{checkin_count_data.total_km_distance?checkin_count_data.total_km_distance:'0'}} KM
          </td>
        </tr>
        <tr class="primary-odr">
          <td class="w30">
            <i class="material-icons">receipt</i>
          </td>
          <td>
            <p>Primary Order<button class="count">{{checkinData?.primary_order}}</button> </p>
          </td>
          <td>
            &#8377; {{checkinData?.primary_order_amount}}
          </td>
        </tr>
        <tr class="sec-odr">
          <td class="w30">
            <i class="material-icons">receipt</i>
          </td>
          <td>
            <p>Secondary Order <button class="count">{{checkinData?.secondary_order}}</button> </p>
          </td>
          <td>
            &#8377;{{checkinData?.secondary_order_amount}}
          </td>
        </tr>
        <tr>
          <td class="w30">
            <i class="material-icons">account_balance_wallet</i>
          </td>
          <td>
            Expense
          </td>
          <td>
            &#x20B9; {{expense?expense:'0'}}/-
          </td>
        </tr>
      </table>
    </div>
    
    
    
    <div class="middle-button">
      <span [ngClass]="{'active' : actual==true}" (click)="actual=true;traveled=false;">
        Actual Travel
      </span>
      <span [ngClass]="{'active' : traveled==true}" (click)="traveled=true;actual=false;">
        Travel Plan
      </span>
    </div>
    
    
    <div [ngSwitch]="travelPlan">
      <ng-container *ngIf="actual==true &&checkinData.actual_travel!=null">
        <div class="travel">
          <ul>
            <li>
              <span *ngIf="checkinData.actual_travel!=null" class="vistit-count">
                <i class="material-icons">location_on</i>
              </span>
              <p *ngIf="checkinData.actual_travel!=null"style="font-size:12px"><strong>Day Start</strong> ({{attendancelist.start_time_withDate | date:'hh:mm a'}})</p>
            </li>
            <li *ngFor="let row of checkinData.actual_travel;let i = index;">
              <span class="vistit-count">{{i+1}}</span>
              <span class="km">{{row.km}} KM</span>
              <div class="counter">
                <div  *ngIf="row.NEW_COUNTER=='FALSE'">
                  
                  <h2 *ngIf="row.company_name!=null">{{row.company_name | titlecase}} <span *ngIf="row.company_name!=''">({{row.name | titlecase}})</span>
                    <span *ngIf="row.type=='3'">(Retailer)</span>
                    <span *ngIf="row.type=='1'">(Distributor)</span>
                    <span *ngIf="row.type=='2'">(Dealer)</span>
                    <span *ngIf="row.type=='4'">(Project)</span>
                    <span *ngIf="row.type=='12'">(Direct Customer)</span>
                    <span *ngIf="row.type=='5'">(Architect)</span>
                    <span *ngIf="row.type=='6'">(Constructor)</span>
                    <span *ngIf="row.type=='7'">(Contractor)</span>
                    <span *ngIf="row.type=='8'">(Interior Designer)</span>
                    <span *ngIf="row.type=='10'">(Electrician)</span>
                    <span *ngIf="row.type=='9'">(Online)</span>
                  </h2>
                  <h2 *ngIf="row.company_name==null&&row.name==null">{{row.activity_mode | titlecase}}</h2>
                  <div class="visit-time">
                    <div class="visit-hours">
                      <span>Check-in</span>
                      <p>{{row.visit_start| date:'hh:mm a'}}</p>
                    </div>
                    <div class="visit-hours">
                      <span>Check-out</span>
                      <p>{{row.visit_end| date:'hh:mm a'}}</p>
                    </div>
                    <div class="visit-hours">
                      <span>Total time spend</span>
                      <p>{{row.TOTAL_TIME_TAKE}}</p>
                    </div>
                  </div>
                </div>
                <div  style="background-color: #fce03fd3;"*ngIf="row.NEW_COUNTER=='TRUE'">
                  
                  <h2>{{row.company_name | titlecase}} <span *ngIf="row.company_name!=''">({{row.name | titlecase}})</span>
                    <span *ngIf="row.type=='3'">(Retailer)</span>
                    <span *ngIf="row.type=='1'">(Distributor)</span>
                    <span *ngIf="row.type=='2'">(Dealer)</span>
                    <span *ngIf="row.type=='4'">(Project)</span>
                    <span *ngIf="row.type=='12'">(Direct Customer)</span>
                    <span *ngIf="row.type=='5'">(Architect)</span>
                    <span *ngIf="row.type=='6'">(Constructor)</span>
                    <span *ngIf="row.type=='7'">(Contractor)</span>
                    <span *ngIf="row.type=='8'">(Interior Designer)</span>
                    <span *ngIf="row.type=='10'">(Electrician)</span>
                    <span *ngIf="row.type=='9'">(Online)</span>
                  </h2>
                  <div class="visit-time">
                    <div class="visit-hours">
                      <span>Check-in</span>
                      <p>{{row.visit_start| date:'hh:mm a'}}</p>
                    </div>
                    <div class="visit-hours">
                      <span>Check-out</span>
                      <p>{{row.visit_end| date:'hh:mm a'}}</p>
                    </div>
                    <div class="visit-hours">
                      <span>Total time spend</span>
                      <p>{{row.TOTAL_TIME_TAKE}}</p>
                    </div>
                  </div>
                </div>
                <div class="type-visit">
                  <div class="types">
                    <span *ngIf="row.order_flag=='1'"class="active">&nbsp;</span>
                    <span *ngIf="row.order_flag=='0'">&nbsp;</span>
                    
                    Order
                  </div>
                  <div class="types">
                    <span *ngIf="row.followup_flag=='1'"class="active">&nbsp;</span>
                    <span *ngIf="row.followup_flag=='0'">&nbsp;</span>
                    
                    Followup
                  </div>
                  <div class="types">
                    <span *ngIf="row.Doc!=''||row.Doc!=null"class="active">&nbsp;</span>
                    <span *ngIf="row.Doc==''||row.Doc==null">&nbsp;</span>
                    Photo upload
                  </div>
                  
                </div>
                <div class="type-visit1">
                  <div class="types">
                   <b>GPS Address</b> -{{row.start_address}}

                  <!-- Start Address-{{row.start_address}} -->
                </div>
                </div>
              </div>
            </li>
            <li>
              <span *ngIf="checkinData.actual_travel!=null" class="vistit-count"><span  class="km"></span>
                <i class="material-icons">location_on</i>
                
              </span>
              <p *ngIf="checkinData.actual_travel!=null&&attendancelist.stop_time !='00:00:00'"style="font-size:12px"><strong>Day Stop</strong> ({{attendancelist.stop_time_withDate | date:'hh:mm a'}} -{{attendancelist.distance_from_last_checkin}} km )  -<span style="font-size:12px">{{attendancelist.stop_address}}</span></p>
            </li>
          </ul>
        </div>
        
      </ng-container>
      <div *ngIf="checkinData.actual_travel==null">
        
        <div *ngIf="actual==true" class="actual-travel" >
          <div class="nothing-here" >
            <div class="outer">
              <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>No Checkins</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <ng-container *ngIf="traveled==true&&checkinData.travel_plan!=null">
        <div class="planned-travel">
          <div class="content-box-traveled" *ngFor="let row of checkinData.travel_plan.area_dealer_list">
            <p *ngIf="row.travel_type!='Other'">{{row.company_name | titlecase}} <span *ngIf="row.name!=''">({{row.name | titlecase}})</span></p>
            <p *ngIf="row.travel_type=='Other'" >{{row.status_remark}}</p>

            <div class="address"*ngIf="row.state!=''&&row.travel_type!='Other'">
              <p>Address: <span >{{row.address}},{{row.district}},{{row.state}},{{row.pincode}}</span></p>
            </div>
            <div class="address"*ngIf="row.travel_type=='Other'">
              <p>City: <span >{{row.city}}</span></p>
            </div>
            <div class="status-section"*ngIf="row.travel_type!='Other'">
              <p>Visit Status <button [ngClass]="{'pending':row.checkin_id== null,'complete':row.checkin_id!= null}">{{row.checkin_id== null?'Pending':'Complete'}}</button></p>


            </div>
           
          </div>
        </div>
      </ng-container>
      <div *ngIf="checkinData.travel_plan==null">
        
        <div *ngIf="traveled==true" class="planned-travel" >
          <div class="nothing-here" >
            <div class="outer">
              <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>No Travel Plan</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  </ng-container>
</ion-content>
<ion-footer class="af-none">
  <div class="cus-fab" *ngIf="!attendancelist.Total_Working_Time">
    <ion-fab right bottom >
      <button ion-fab color="danger" (click)="show_Error() "><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
  <div class="cus-fab" *ngIf="attendancelist.Total_Working_Time &&checkin_out==0">
    <ion-fab right bottom >
      <button ion-fab color="danger" (click)="addCheckin()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
</ion-footer>    