<ion-header>
  <ion-navbar>
    <ion-title>Check in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="display: none;">
  
  <div class="month-calander">
    <button (click)="changeDate('previous')"><i class="material-icons">keyboard_arrow_left</i></button>
    <p>{{selected_date | date:'d MMM, y' }}</p>
    <button (click)="changeDate('next')"><i class="material-icons">keyboard_arrow_right</i></button>
    <!-- <a class="date-pick">
      <label class="chedate">
        <input type="date" name="date" />
        <i class="material-icons">date_range</i>
      </label>
    </a> -->
  </div>
  
  
  <div class="counter">
    <div class="three_boxes">
      <div class="inside-box" >
        <p >Day Start</p>
        <span *ngIf="attendancelist.start_time =='00:00:00'">--</span>
        <span *ngIf="attendancelist.start_time !='00:00:00'">{{attendancelist.start_time_withDate | date:'hh:mm a'}}</span>
      </div>
      <div class="inside-box" >
        <p >Day End</p>
        <span *ngIf="attendancelist.stop_time =='00:00:00'">--</span>
        <span *ngIf="attendancelist.stop_time !='00:00:00'">{{attendancelist.stop_time_withDate | date:'hh:mm a'}}</span>
      </div>
      <div class="inside-box" >
        <p >Total Work Hour</p>
        <span>{{attendancelist.Total_Working_Time}}</span>
      </div>
    </div>
    <div class="counter-sections">
      <div class="text-part">
        <i class="tiny material-icons">pin_drop</i>
        <p>Total Counter Visit</p>
        <span>{{checkin_count_data.total_checkin_count}}</span>
      </div>
      
    </div>
    <div class="counter-sections new-counter">
      <div class="text-part">
        <i class="material-icons" style="filter: invert();">person</i>
        <p>New Counter</p>
        <span>{{checkin_count_data.newCounterVisit}}</span>
      </div>
    </div>
    <div class="counter-sections">
      <div class="text-part">
        <i class="material-icons">person</i>
        <p>Old Counter</p>
        <span>{{checkin_count_data.oldCounterVisit}}</span>
      </div>
    </div>
    <div class="counter-sections">
      <div class="text-part">
        <i class="material-icons">location_on</i>
        <p>Travel in KM</p>
        <span>{{checkin_count_data.total_km_distance?checkin_count_data.total_km_distance:'0'}} KM</span>
      </div>
      
    </div>
    <div class="counter-sections primary-order">
      <div class="text-part">
        <i class="material-icons" style="filter: invert();">assignment</i>
        <p>Primary Order
          <button class="count">{{checkinData.primary_order?.primary_order_sum}}</button>
        </p>
        <span>&#8377;{{checkinData.primary_order?.total_primary_order}}/-</span>
      </div>
      
    </div>
    <div class="counter-sections secondary-order">
      <div class="text-part">
        <i class="material-icons" style="filter: invert();">assignment</i>
        <p>Secondary Order
          <button class="count">{{checkinData.secondary_order?.secondary_order_sum}}</button>
        </p>
        <span>&#8377;{{checkinData.secondary_order?.total_secondary_order}}/-</span>
      </div>
      
    </div>
    <div class="counter-sections">
      <div class="text-part">
        <i class="material-icons">receipt_long</i>
        <p>Expense</p>
        <span>&#8377;{{expense?expense:'0'}}/-</span>
      </div>
      
    </div>
    
  </div>
  
  <div class="middle-button">
    <span [ngClass]="{'active' : actual==true}" (click)="actual=true;traveled=false;">
      Actual Travel
    </span>
    <span [ngClass]="{'active' : traveled==true}" (click)="traveled=true;actual=false;">
      Travel Plan
    </span>
  </div>
  <div *ngIf="checkinData.actual_travel!=null">
    
    <div *ngIf="actual==true" class="actual-travel">
      <div > 
        <div class="location" *ngIf="checkinData.actual_travel!=null">
          <i class="material-icons">location_on</i>
          
        </div>
        <span *ngIf="checkinData.actual_travel!=null">Day Start ({{attendancelist.start_time_withDate | date:'hh:mm a'}})</span>
        
      </div>
      
      <div class="content-box-actual secondary-order" *ngFor="let row of checkinData.actual_travel;let i = index;" > 
        <div class="circle1" >{{row.km}} KM</div>
        
        <div class="left-content" >
          <div class="circle" >{{i+1}}</div>
        </div>
        <div class="right-content" [ngClass]="{'new-counter':row.NEW_COUNTER== 'TRUE'}">
          <p>{{row.company_name | titlecase}} <span *ngIf="row.company_name!=''">({{row.name | titlecase}})</span></p>
          <div class="lower-part">
            <div class="list-content">
              <span>Check-in</span>
              <p>{{row.visit_start| date:'hh:mm a'}}</p>
            </div>
            <div class="list-content">
              <span>Check-out</span>
              <p>{{row.visit_end| date:'hh:mm a'}}</p>
            </div>
            <div class="list-content">
              <span>Total time spend</span>
              <p>{{row.TOTAL_TIME_TAKE}}</p>
            </div>
          </div>
          
          <div class="lower-part"style="background-color:#f4f4f4">
            <div class="list-content">
              <p>
                <span>
                  
                  <ion-icon *ngIf="row.order_flag=='1'" name="checkmark-circle-outline" style="color:green;font-size: 20px;"></ion-icon>
                  <i *ngIf="row.order_flag == '0'" class="material-icons bl_clr"style="color:red">cancel</i><span>Order</span>
                  
                </span>
              </p>
            </div>
            <div class="list-content">
              <p>
                <span>
                  
                  <ion-icon *ngIf="row.followup_flag=='1'"name="checkmark-circle-outline" style="color:green;font-size: 20px;"></ion-icon>
                  <i *ngIf="row.followup_flag == '0'" class="material-icons bl_clr"style="color:red">cancel</i><span>Followup</span>
                  
                </span>
              </p>
            </div>
            <div class="list-content">
              <p>
                <span>
                  
                  <ion-icon *ngIf="row.Doc!=''" name="checkmark-circle-outline" style="color:green;font-size: 20px;"></ion-icon>
                  <i *ngIf="row.Doc == ''" class="material-icons bl_clr"style="color:red">cancel</i><span>Photo Upload</span>
                  
                </span>
              </p>
            </div>
          </div>
        </div>
        
      </div>
      
      <span  *ngIf="checkinData.actual_travel!=null&&attendancelist.stop_time !='00:00:00'">Day End( {{attendancelist.stop_time_withDate | date:'hh:mm a'}})</span>
      
      <div class="location" *ngIf="checkinData.actual_travel!=null"> 
        <i class="material-icons">location_on</i>
      </div>
    </div>
  </div>
  <div *ngIf="checkinData.actual_travel==null">
    
    <div *ngIf="actual==true" class="actual-travel" >
      <div class="nothing-here" >
        <div class="outer">
          <div class="innear">
            <img src="assets/imgs/no_found.svg" alt="">
            <p>No Checkins</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div *ngIf="checkinData.travel_plan!=null">
    <div *ngIf="traveled==true && checkinData.travel_plan.area_dealer_list?.length" class="planned-travel" >
      <div class="content-box-traveled" *ngFor="let row of checkinData.travel_plan.area_dealer_list">
        <p>{{row.company_name | titlecase}} <span *ngIf="row.name!=''">({{row.name | titlecase}})</span></p>
        <div class="address"*ngIf="row.state!=''">
          <p>Address: <span >{{row.address}},{{row.district}},{{row.state}},{{row.pincode}}</span></p>
        </div>
        <div class="status-section">
          <p>Visit Status <button [ngClass]="{'pending':row.checkin_id== null,'complete':row.checkin_id!= null}">{{row.checkin_id== null?'Pending':'Complete'}}</button></p>
        </div>
      </div>
      
    </div>
  </div>
  <div *ngIf="checkinData.travel_plan==null">
    
    <div *ngIf="traveled==true" class="planned-travel" >
      <div class="nothing-here" >
        <div class="outer">
          <div class="innear">
            <img src="assets/imgs/no_found.svg" alt="">
            <p>No Travel Plan</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</ion-content>

<ion-content padding>
  <div class="month-calander">
    <button class="dates" (click)="changeDate('previous')"><i class="material-icons">keyboard_arrow_left</i></button>
    <p>{{selected_date | date:'d MMM, y' }}</p>
    <button class="dates" (click)="changeDate('next')"><i class="material-icons">keyboard_arrow_right</i></button>
    <button class="months"><i class="material-icons">calendar_month</i></button>
  </div>
  
  
  <div class="checkin-table">
    <div class="checkin-day">
      <div class="visits">
        <span>Day Start</span>
        <p>9:30 AM</p>
      </div>
      <div class="visits">
        <span>Day End</span>
        <p>6: 30 PM</p>
      </div>
      <div class="visits">
        <span>Total Work Hours</span>
        <p>9:00 Hours</p>
      </div>
      
    </div>
    <table>
      <tr>
        <td class="w30">
          <i class="material-icons">pin_drop</i>
        </td>
        <td>
          Total Counter Visit
        </td>
        <td class="w100">
          6
        </td>
      </tr>
      <tr class="new">
        <td class="w30">
          <i class="material-icons">person</i>
        </td>
        <td>
          New Counter
        </td>
        <td>
          6
        </td>
      </tr>
      <tr>
        <td class="w30">
          <i class="material-icons">person</i>
        </td>
        <td>
          Old Counter
        </td>
        <td>
          2
        </td>
      </tr>
      <tr class="primary-odr">
        <td class="w30">
          <i class="material-icons">receipt</i>
        </td>
        <td>
          <p>Primary Order  <span>20</span></p>
        </td>
        <td>
          &#x20B9; 9000 /-
        </td>
      </tr>
      <tr class="sec-odr">
        <td class="w30">
          <i class="material-icons">receipt</i>
        </td>
        <td>
          <p>Secondary Order  <span>20</span></p>
        </td>
        <td>
          &#x20B9; 9000 /-
        </td>
      </tr>
      <tr>
        <td class="w30">
          <i class="material-icons">account_balance_wallet</i>
        </td>
        <td>
          Expense
        </td>
        <td>
          &#x20B9; 9000 /-
        </td>
      </tr>
    </table>
  </div>
  
  
  
  <div class="ion-tab-btn">
    <ion-segment [(ngModel)]="travel">
      <ion-segment-button value="actual_travel">
        Actual Travel
      </ion-segment-button>
      <ion-segment-button value="travel_plan">
        Travel Plan
      </ion-segment-button>
    </ion-segment>
  </div>
  
  
  <div [ngSwitch]="travelPlan">
    <ng-container *ngSwitchCase="'actual_travel'">
      <div class="travel">
        <ul>
          <li>
            <span class="vistit-count">0</span>
            <p><strong>Day Start</strong> (9:30 AM)</p>
          </li>
          <li *ngFor="let item of [].constructor(10); let i = index;">
            <span class="vistit-count">{{i+1}}</span>
            <span class="km">10 Km</span>
            <div class="counter">
              <h2>Ram Hardware</h2>
              <div class="visit-time">
                <div class="visit-hours">
                  <span>Check-in</span>
                  <p>10:20 AM</p>
                </div>
                <div class="visit-hours">
                  <span>Check-in</span>
                  <p>10:20 AM</p>
                </div>
                <div class="visit-hours">
                  <span>Check-in</span>
                  <p>10:20 AM</p>
                </div>
              </div>
              <div class="type-visit">
                <div class="types">
                  <span class="active">&nbsp;</span>
                  Order
                </div>
                <div class="types">
                  <span>&nbsp;</span>
                  Followup
                </div>
                <div class="types">
                  <span>&nbsp;</span>
                  Photo upload
                </div>
                <div class="types">
                  <span>&nbsp;</span>
                  Pop & Gift
                </div>
              </div>
            </div>
          </li>
          <li>
            <span class="vistit-count">0</span>
            <p><strong>Day Stop</strong> (9:30 AM)</p>
          </li>
        </ul>
      </div>
      
    </ng-container>
    <ng-container *ngSwitchCase="'travel_plan'">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quibusdam enim aperiam reprehenderit repellendus facere soluta voluptas optio recusandae. Temporibus cumque vitae ipsum porro eos, ipsa error quod nisi omnis!</p>
    </ng-container>

  </div>
 
</ion-content>
<ion-footer class="af-none">
  <div class="cus-fab">
    <ion-fab right bottom >
      <button ion-fab color="danger" (click)="addCheckin()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  </div>
</ion-footer>    