
<ion-header>
    <ion-navbar>
        <ion-title> Category</ion-title>
    </ion-navbar>
    <ion-toolbar>
        <div class="search add-search">
            <div class="filter">
                <!-- getProductCategoryList(filter.category_name);getProductSubCategoryList() -->
                <ion-searchbar type='text' name='category_name' [(ngModel)]="filter.category_name" (keyup.enter)="getCategoryData()"></ion-searchbar>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content class="listing add-images grid-listing">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="nothing-here"  *ngIf="!prod_cat_list.length && no_rec">
        <div class="outer">
            <div class="innear">
                <img src="assets/imgs/no_found.svg" alt="">
                <p>Data not Available</p>
            </div>
        </div>
    </div>
    
 

    <!-- <div>
       <button (click)="goToNewArrivals()"> New Arrivals</button>
    </div> -->

    <div *ngIf="prod_cat_list.length" class="main-div" >
        <ion-list *ngFor="let list of prod_cat_list; let i=index" >
            <!-- <a>{{list.image}}</a> -->
            <button  *ngIf="!list.image" ion-item (click)="goToProductList('category',list.id)">
                <div class="image-manage">
                    <img  src="assets/imgs/no-thumbnail.jpg">
                </div>
                <p>{{list.category_name}}</p>
            </button>

            <button  *ngIf="list.image" ion-item (click)="goToProductList('category',list.id)">
                <div class="image-manage">
                    <img  src="{{list.imageCompletePath}}">
                </div>
                <p>{{list.category_name}}</p>
            </button>
        </ion-list>

    </div>

    <!-- <div class="main-div" *ngIf="!prod_cat_list.length && !no_rec">
        <ion-list *ngFor="let row of skelton" >
            <button class="skleton-box"></button>
        </ion-list>
    </div> -->

</ion-content>

