<!-- <ion-header class="catalogue-header" no-border>
	<ion-navbar>
		<ion-title>Announcement/Notices</ion-title>
		<ion-buttons end class="add-btn">

		</ion-buttons>
	</ion-navbar>
</ion-header> -->

<ion-content class="transprant-bg">
	<!-- <ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher> -->

	<div class="work-modal">
		<div class="work-modal-bg">

			<div class="head">
				<h2>Announcement/Notices</h2>
				<a class="close" (click)="close()"><i class="material-icons">close</i></a>
			</div>

			<div class="nothing-here" *ngIf="!announcementList.length && sendRequest == true ">

				<div class="outer">
					<div class="innear">
						<img src="assets/imgs/no_found.svg" alt="">
						<p>Data not Available</p>
					</div>
				</div>
			</div>

			<div class="scroll_in_modal">
				<div class="list-box mt16"  [ngClass]="(data.read_status == '1')? 'color-white' : ''"  *ngFor="let data of announcementList" (click)="deatilPage(data.dr_id,data.notice_id,'9')">
					<div class="upper">
						<div class="left-date">

							<ng-container >
								<div class="date-section">
									<p>{{data.date_created | date:'d MMM, y'}}</p>
									<p>Date </p>
								</div>

								<!-- <div class="date-section">
									<p>{{data.created_by_name | titlecase}}</p>
									<p>Created By</p>
								</div> -->

							</ng-container>
						</div>

					</div>
					<div class="mid">
						<div class="content-info">
							<div class="right-info">
								<p>Subject : <span>{{data.subject | titlecase}}</span></p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</ion-content>
