<ion-header class="catalogue-header">
    <ion-navbar>
        
        <ion-title *ngIf="type!='Lead'">Detail</ion-title>
        <!-- <ion-buttons end >
            <button ion-button icon-only color="light" (click)="Add()">
                <ion-icon name="md-create"></ion-icon>
            </button>
        </ion-buttons> -->

    </ion-navbar>
</ion-header>

<ng-container *ngIf="type!='Lead'">
    
    <ion-content >
        <div class="sticky-main">
            <div class="pd-left-right16 af_bg">
                <div class="list-box">
                    <div class="mid mt0">
                        <div class="content-info">
                            <div class="left-info"> 
                                <div class="circle" >{{distributor_detail.company_name | slice:0:1}}</div>
                                
                            </div>
                            <div class="right-info">
                                <p>{{distributor_detail.company_name?.toUpperCase()}}</p>
                                <p> {{!distributor_detail.name ? 'N/A' : distributor_detail.name | titlecase}} - ( {{distributor_detail.mobile}} )</p>
                                <p *ngIf="distributor_detail.email"> {{distributor_detail.email ? distributor_detail.email : 'N/A'}}</p>
                            </div>
                        </div>
                        <div class="tag-info">
                            <a href="tel:{{distributor_detail.mobile ? distributor_detail.mobile : 'N/A'}}"><i class="material-icons">phone</i></a>
                        </div>
                    </div>
                    <div class="upper pt10" *ngIf="distributor_detail.date_of_birth != '0000-00-00' || distributor_detail.date_of_anniversary !='0000-00-00'">
                        <div class="left-date">
                            <div class="date-section" *ngIf="distributor_detail.date_of_birth != '0000-00-00' || distributor_detail.date_of_birth == null ">
                                <p>{{distributor_detail.date_of_birth == null ? '' : distributor_detail.date_of_birth | date:'d MMM y'}}</p>
                                <!-- <p>Date of Birth</p>  -->
                            </div>
                            <div class="date-section" *ngIf="distributor_detail.date_of_anniversary !='0000-00-00' || distributor_detail.date_of_anniversary == null">
                                <p>{{distributor_detail.date_of_anniversary == null ? '' : distributor_detail.date_of_anniversary | date:'d MMM y'}}</p>
                            </div>
                        </div>                     
                    </div>
                    
                    <div class="lower">
                        <p>Address</p>
                        <p>{{!distributor_detail.state ? 'N/A' : distributor_detail.state | titlecase}} {{!distributor_detail.district ? '' : ', '+distributor_detail.district | titlecase}} {{distributor_detail.pincode ? ' - '+distributor_detail.pincode : ''}}</p>
                    </div>

                   

                <!-- <div *ngIf="!distributor_detail.lat">
                        <button ion-button  class="h30 cs-btn mt16"  (click)="update_location(distributor_detail.lat,distributor_detail.lng,distributor_detail.id)">
                            <i class="material-icons fff pr16 font18">check_circle</i>
                            Point GPS Location
                        </button>
                    </div> -->
                </div>  
            </div>
            
            <div class="list-box ml20 mr20">
                <div class="lower" >
                    <p>ERP Code</p>
                    <p>{{distributor_detail.dr_code?distributor_detail.dr_code:'N/A'}}</p>
                </div>
              
                <div class="lower" *ngIf="distributor_detail.date_of_birth!='0000-00-00'||distributor_detail.date_of_birth!=null">
                    <p>D.O.B</p>
                    <p>{{distributor_detail.date_of_birth == null ? '' : distributor_detail.date_of_birth | date:'d MMM y'}}</p>
                </div>
                <div class="lower"*ngIf="distributor_detail.date_of_anniversary !='0000-00-00' || distributor_detail.date_of_anniversary == null">
                    <p>D.O.A</p>
                    <p>{{distributor_detail.date_of_anniversary == null ? '' : distributor_detail.date_of_anniversary | date:'d MMM y'}}</p>
                </div>
                <div class="lower" *ngIf="distributor_detail.email!=''">
                    <p>Email</p>
                    <p>{{distributor_detail.email?distributor_detail.email:'N/A'}}</p>
                </div>
                <div class="lower"*ngIf="distributor_detail.gst!=''">
                    <p>GST</p>
                    <p>{{distributor_detail.gst?distributor_detail.gst:'N/A'}}</p>
                </div>
                <div class="lower"*ngIf="distributor_detail.type=='3'">
                    <p>Beat Code</p>
                    <p>{{distributor_detail.beat_code?distributor_detail.beat_code:'N/A'}}</p>
                </div>
                <div class="lower"*ngIf="distributor_detail.type=='3'">
                    <p>Beat Name</p>
                    <p>{{distributor_detail.beat_name?distributor_detail.beat_name:'N/A'}}</p>
                </div>
                <div class="lower"*ngIf="distributor_detail.type=='3'">
                    <p>Assign Distributor</p>
                    <p>{{distributor_detail.distributor_name?distributor_detail.distributor_name:'N/A'}}</p>
                </div>
               
               
                    <div class="edit ml0 mr0"*ngIf="distributor_detail.type=='3'&&distributor_detail.beat_code==''" >
                        <ion-list>
                            <ion-item class="cs-normal-select mt16">
                                <ion-label>Assign Beat Code</ion-label>
                                <ionic-selectable
                                item-content
                                [(ngModel)]="data1"
                                [items]="beatCodeList"
                                itemValueField="beat_code"
                                name="beat_code1"
                                value="beat_code"
                                itemTextField="beat_code1"
                                [canSearch]="true"
                                #selectComponent >
                            </ionic-selectable>
                               
                              </ion-item>
                        </ion-list>
                        <div class="text-right" >
                            <button ion-button class="h35 green-color mt16 mb16" (click)="assign_beat()">Assign</button>
                        </div>
                    </div>
                   
               

            <!-- <div *ngIf="!distributor_detail.lat">
                    <button ion-button  class="h30 cs-btn mt16"  (click)="update_location(distributor_detail.lat,distributor_detail.lng,distributor_detail.id)">
                        <i class="material-icons fff pr16 font18">check_circle</i>
                        Point GPS Location
                    </button>
                </div> -->
            </div> 
            <div class="endcheck inherit p0">
               
                <div class="wp100 mt16 mr10 ml10">
                    <!-- <button ion-button class="circle-btn" (click)="rmLocalConvExp(i, val3.amount)"><i class="material-icons">delete_sweep</i></button> -->
                    <button color="theme" (click)="statusModal(distributor_detail.id)" ion-button block round>Assign Users</button>
                </div>
            </div>
          
        </div>
      
        
        
       
        
        <!-- <div class="pd-left-right16">
            <div class="forword-page flat-item">
                <a class="no-height" (click)="contracterMeet()">
                    <p><span>10</span></p>
                    <div class="info">
                        Contracter Meet
                    </div>
                </a>
                
                <a class="no-height" (click)="Visitingcard()">
                    <p><span>10</span></p>
                    <div class="info">
                        Visiting Card
                    </div>
                </a>
            </div>
        </div> -->
        
    </ion-content>
    <!-- <ion-footer class="af-none csm-footer-tabs" *ngIf="distributor_detail.type==1 && showRelatedTab!=false">
        <div class="ftabs cus-fab">
            <button ion-item [ngClass]="{'active': distributor_detaill.orderType == 'Primary'}" (click)="distributor_detaill.orderType='Primary'"><p>Primary</p></button>
            
            <button ion-item [ngClass]="{'active': distributor_detaill.orderType == 'Secondary'}" (click)="distributor_detaill.orderType='Secondary'" ><p>Secondary</p> </button>
        </div>
    </ion-footer>  -->

    <ion-footer class="af-none csm-footer-tabs">
        <!-- <div class="cus-fab ftabs">
            <button ion-item [ngClass]="{'active': distributor_detaill.orderType == 'Primary'}" (click)="distributor_detaill.orderType='Primary'"><p>Primary</p></button>
            
            <button ion-item [ngClass]="{'active': distributor_detaill.orderType == 'Secondary'}" (click)="distributor_detaill.orderType='Secondary'" ><p>Secondary</p> </button>
        </div> -->
        </ion-footer>




    
</ng-container>
