<ion-header class="catalogue-header">
    <ion-navbar>
        <ion-title *ngIf="distributor_detail.type=='3'">Retailer Detail</ion-title>
        <ion-title *ngIf="distributor_detail.type=='1'">Distributor/Dealer Detail</ion-title>
        <ion-title *ngIf="distributor_detail.type=='2'">Dealer Detail</ion-title>
        <ion-title *ngIf="distributor_detail.type=='2'">Project Detail</ion-title>

        <!-- *ngIf="user_right && user_right.add_D_N == '1'" -->
        <ion-buttons end >
            <button ion-button icon-only color="light" (click)="editNetwork(distributor_detail.id)">
                <ion-icon name="md-create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="sticky-main">
        <div class="pd-left-right16 af_bg">
            <div class="list-box">
               
                <div class="mid">
                    <div class="content-info">
                       
                        <div class="right-info">
                            <p>{{distributor_detail.company_name | titlecase}}</p>
                            <p> {{!distributor_detail.name ? 'N/A' : distributor_detail.name | titlecase}}</p>
                            <p *ngIf="distributor_detail.email"> {{distributor_detail.email ? distributor_detail.email : 'N/A'}}</p>
                        </div>
                    </div>
                    <div class="tag-info">
                        <a href="tel:{{distributor_detail.mobile ? distributor_detail.mobile : 'N/A'}}"><i class="material-icons">phone</i></a>
                    </div>
                </div>
                <div class="lower">
                    <p>Address</p>
                    <p>{{!distributor_detail.state ? 'N/A' : distributor_detail.state | titlecase}} {{!distributor_detail.district ? '' : ', '+distributor_detail.district | titlecase}} {{distributor_detail.pincode ? ' - '+distributor_detail.pincode : ''}}</p>
                </div>
            </div>  
        </div>
        
      
    </div>
    <ng-container *ngIf="distributor_detail.tabActiv=='Order'">
        <div class="pd-left-right16" *ngFor="let row of total_order">
            <div class="list-box mt16">
                <div class="upper">
                    <div class="left-date">
                        <div class="date-section">
                            <p>{{row.date_created | date: 'MMM d, y'}}</p>
                            <p>Date</p>
                        </div>
                    </div>
                    <div class="right-date">
                        <button><p>{{row.order_no}}</p></button>
                    </div>
                </div>
                <div class="three_boxes">
                    <div class="lower">
                        <p>Order Item</p>
                        <p>{{row.order_item }}</p>
                    </div>
                    <div class="lower">
                        <p>Order Value</p>
                        <p>{{row.order_grand_total}}</p>
                    </div>
                </div>
            </div>  
        </div>
        <div class="nothing-here" style="height: 60%;" *ngIf="!total_order.length">
            <div class="outer">
                <div class="innear">
                    <img src="assets/imgs/no_found.svg" alt="">
                    <p>No Order Found</p>
                </div>
            </div>
        </div>
    </ng-container>


</ion-content>
