<ion-header>
  <ion-navbar>
    <ion-title>Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="cs-list-item" >
    <div class="cs-top">
      <div class="list-content">
        <p>{{announcementDetail.date_created | date:'d MMM y'}}</p>
        <span>Date Created</span>
      </div>
      <!-- <div class="list-content af-none">
        <p class="yellow-clr">{{expenseDetail.seniorStatus}}</p>
        <span> Senior Status</span>
      </div>
      <div class="list-content af-none">
        <p class="yellow-clr">{{expenseDetail.acStatus}}</p>
        <span>A/C Status</span>
      </div> -->
      
      <!-- <div class="left-auto">
        <p class="inr-rupy"> &#x20B9;{{expenseDetail.totalAmt}}</p>
      </div> -->
    </div>
    <div class="travel-type">{{announcementDetail.subject}}</div>
    <div class="middle-content one-column">
      <div class="col-box">
        <p>Message</p>
        <span>{{announcementDetail.msg}}</span>
      </div>
    </div>
  </div>

  
  <div class="upload-doc" *ngIf="announcementDetail.doc && announcementDetail.doc.length > 0">
    <p class="">Uploads</p>
    <ul class="no-padding">
      <li class="image-upload" *ngFor="let val of announcementDetail.doc">
      <!-- <a (click)="openDocument(image_url+val.image)"> -->
        <a (click)="openDocument(image_url+val.image ,val.tittle,val.image)">
        <img *ngIf ="val.tittle == 'jpg'" height="60" width="60" src="{{image_url+val.image}}">
        <img *ngIf ="val.tittle == 'pdf'" height="75" width="75" src="assets/imgs/pdf1.svg">
        <img *ngIf ="val.tittle == 'docx'" height="75" width="75" src="assets/imgs/doc.png">
      
        </a>
      </li>
      
    </ul>
  </div>
  
</ion-content>
<!--  -->