
<ion-header>
  <ion-navbar>
    <ion-title>
      
      <h1>Add Multiple Contact</h1>
      
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <form name="f" #f="ngForm" (ngSubmit)="f.valid && addToList();form.mobile = ''">
    <div class="cs-heading1">
      <p>Basic information</p>        
    </div>
    <div class="edit">
      <ion-list>
        
        <ion-item [ngClass]="{'cs-error':(f.submitted && ( mobile?.invalid ||  form.mobile?.length!=10 )) || checkExist==true}" >
          <ion-label floating><span>Mobile No.<strong>*</strong></span></ion-label>
          <ion-input type="tel"  (keypress)="MobileNumber($event)" name="mobile" placeholder="Enter Mobile" #mobile="ngModel" [(ngModel)]="form.mobile" minLength="10" maxLength="10" (ngModelChange)=" check_num()"  required ></ion-input>
        </ion-item>
        <p  *ngIf="checkExist==true" class="error-line">Same Mobile No. Already Exists</p>
        <p  *ngIf="f.submitted && mobile?.invalid && !form.mobile" class="error-line">Mobile No. Is Required</p>
        <p  *ngIf="form.mobile && form.mobile?.length!=10 && f.submitted " class="error-line">Mobile No.Must be 10 Digits</p>
        
        
        <ng-container *ngIf="form.mobile && form.mobile.length==10">
          
          
          <ion-item [ngClass]="{'cs-error':f.submitted && name?.invalid}">
            <ion-label floating><span>Name <strong>*</strong></span></ion-label>
            <ion-input type="text" placeholder="Enter Name"  name="name" #name="ngModel" [(ngModel)]="form.name" required [ngClass]="{'is-invalid':f.submitted && name?.invalid}"></ion-input>
          </ion-item>
          <p  *ngIf="f.submitted && name?.invalid && form.name" class="error-line">Name Is Invalid</p>
          <p  *ngIf="f.submitted && name?.invalid && !form.name" class="error-line">Name Is Required</p>
          
          
          
          <ion-item [ngClass]="{'cs-error':f.submitted && email?.invalid && !form.DealerExist}">
            <ion-label floating><span>Email ID </span></ion-label>
            <ion-input type="email"  placeholder="Enter Email"   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email"  #email="ngModel" [(ngModel)]="form.email"  [ngClass]="{'is-invalid':f.submitted && email?.invalid}"></ion-input>
          </ion-item>
          <p  *ngIf="f.submitted && email?.invalid && !form.email" class="error-line">Email Is Required</p>
          <p  *ngIf="f.submitted && email?.invalid && form.email" class="error-line">Email Is Invalid</p>
          
          <ion-item>
            <ion-label floating><span>WhatsApp</span></ion-label>
            <ion-input type="tel"  (keypress)="MobileNumber($event)" name="whatsapp" placeholder="Enter WhatsApp Number" #whatsapp="ngModel" [(ngModel)]="form.whatsapp" minLength="10" maxLength="10" ></ion-input>
            
          </ion-item>
          
          
          <ion-item>
            <ion-label floating><span>Date of Birth</span></ion-label>
            <ion-datetime display-format="MMM DD, YYYY"  placeholder="Select Date" [max]="today_date" type="text" name="dob" #dob="ngModel" [(ngModel)]="form.dob"  class="calander" ></ion-datetime>
          </ion-item>
          
          <ion-item>
            <ion-label floating><span>Date of Anniversary</span></ion-label>
            <ion-datetime display-format="MMM DD, YYYY"  placeholder="Select Date" [min]="form.dob" [max]="today_date" type="text" name="doa" #doa="ngModel" [(ngModel)]="form.doa"  class="calander" ></ion-datetime>
          </ion-item>
          
          
          <ion-item>
            <ion-label floating><span>Designation</span></ion-label>
            <ion-input type="text" placeholder="Enter Designation"  name="Designation" [(ngModel)]="form.Designation" ></ion-input>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    
    
    
    
    
    <div class="padding16">
      <button [disabled]="!(form.mobile && form.mobile.length==10 && form.name )" ion-button class="cs-btn" style="margin: 16px 0px !important;">Add To List</button>
    </div>		  
  </form>
  
  
  <div class="edit" *ngIf="sendEmpData.length"> 

    <div class="cs-heading1">
      <p>Contact List</p>
    </div>

    <div class="list-box mt10" *ngFor="let row of sendEmpData;let i=index">
      <div class="mid mt0">
        <div class="content-info">
          <div class="right-info">
            <p>Name - {{row.name}}</p>
            <p>Mobile - {{row.mobile}}</p>
          </div>
        </div>
        <div class="tag-info">
          <button ><i class="material-icons red-clr" (click)="listdelete(i)">delete_sweep</i></button>
        </div>
      </div>
      
      <div class="three_boxes">

        <div *ngIf="row.email" class="lower">
          <p>Email</p>
          <p>{{row.email?row.email:'N/a'}}</p>
        </div>
        <div *ngIf="row.Designation" class="lower">
          <p>Designation</p>
          <p>{{row.Designation?row.Designation:'N/a'}}</p>
        </div>
        <div *ngIf="row.whatsapp" class="lower">
          <p>WhatsApp No.</p>
          <p>{{row.whatsapp?row.whatsapp:'N/a'}}</p>
        </div>
        
      </div>

      <div class="three_boxes">
        <div *ngIf="row.dob" class="lower">
          <p>Date of Birth</p>
          <p>{{row.dob?row.dob:'N/a'}}</p>
        </div>
        <div *ngIf="row.doa" class="lower">
          <p>Date of Anniversary</p>
          <p>{{row.doa?row.doa:'N/a'}}</p>
        </div>
      </div>
    </div>

    <div class="padding16">
      <button  *ngIf="sendEmpData.length" ion-button class="cs-btn" style="margin: 16px 0px !important;"(click)="saveContactInfo()" >Save Contact Information</button>
    </div>	

    
  </div>
  
</ion-content>
