<ion-header>

    <ion-navbar>
        <ion-title>End Checkin</ion-title>

        <ion-buttons end *ngIf="(checkin_data.dr_type== '1') || (checkin_data.dr_type== '3') || (checkin_data.dr_type== '2')|| (checkin_data.dr_type== '4')">
            <button *ngIf="checkin_data.checkin_with_new_dealer!='true'" ion-button icon-only (click)="checkin_data.checkin_with_new_dealer=='true' ? presentPopover($event,'newRetailer') : presentPopover($event,'noNewRetailer')">
                <ion-icon name="more"></ion-icon>

                <!-- <ion-icon name="ellipsis-vertical"></ion-icon> -->
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>


    <!-- Not Other Check IN Start -->
    <div class="sticky-main" *ngIf="checkin_data.other_name == ''&& checkin_data.dr_type!= '11'">
        <div class="pd-left-right16 af_bg">
            <div class="list-box">
                <div class="mid mt0">
                    <div class="content-info">
                        <div class="left-info">
                            <div class="circle" *ngIf="!checkin_data.image">{{checkin_data.dr_name | slice:0:1}}</div>
                            <div class="circle image-in"  *ngIf="checkin_data.image">
                                <img src="http://phpstack-83335-1970078.cloudwaysapps.com/uploads/{{checkin_data.image}}">
                            </div>
                        </div>
                        <div class="right-info">
                            <!-- <p>{{checkin_data.dr_type}}</p> -->
                            <p> {{!checkin_data.name ? 'N/A' : checkin_data.name | titlecase}}</p>
                            <p *ngIf="checkin_data.email"> {{checkin_data.email ? checkin_data.email : 'N/A'}}</p>
                        </div>
                    </div>
                    <div class="tag-info" *ngIf="checkin_data.dr_mobile_no">
                        <a href="tel:{{checkin_data.dr_mobile_no ? checkin_data.dr_mobile_no : 'N/A'}}"><i class="material-icons">phone</i></a>
                    </div>
                </div>
                <div class="lower" *ngIf=" checkin_data.address  || checkin_data.state  || checkin_data.district  || checkin_data.city  || checkin_data.area  || checkin_data.pincode">
                    <p>Address</p>
                    <p>{{checkin_data.address}} {{checkin_data.state | titlecase}} {{checkin_data.district | titlecase}} {{checkin_data.city | titlecase}} {{checkin_data.area | titlecase}}  {{checkin_data.pincode}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Not Other Check IN End -->

    <div class="sticky-main" *ngIf=" checkin_data.dr_type== '11'">
        <div class="pd-left-right16 af_bg">
            <div class="list-box">
                <div class="mid mt0">
                    <div class="content-info">

                        <div class="right-info">
                            <p>{{checkin_data.activity_mode}}</p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <!-- All Check IN Start -->
    <div class="sticky-main">
        <div class="pd-left-right16 af_bg" *ngIf="checkin_data.other_name != ''&& checkin_data.dr_type!= '11'">
            <div class="list-box">
                <div class="mid mt0">
                    <div class="content-info">
                        <div class="left-info">
                            <div class="circle" *ngIf="!checkin_data.image">{{checkin_data.other_name | slice:0:1}}</div>
                            <div class="circle image-in"  *ngIf="checkin_data.image">
                                <img src="http://phpstack-83335-1970078.cloudwaysapps.com/uploads/{{checkin_data.image}}">
                            </div>
                        </div>
                        <div class="right-info">
                            <p>{{checkin_data.other_name}}</p>
                            <p>{{checkin_data.mobile}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- All Check IN End -->



    <!-- if new retailer add this section shows -->
    <form class="pt0"  *ngIf="((checkin_data.checkin_with_new_dealer=='true')) " name="f" #f="ngForm" (ngSubmit)="update_retailer_flag=='1' ? f.valid && presentalert(checkin_data.checkin_id,checkin.description,'new') : saveNewRetailer()">


        <div padding class="pb0 pt0">

            <div class="cs-heading1 pl0 pr0 mb10 pt10"><p>Visit information</p></div>

            <div class="vstime">
                <p>Start Time</p>
                <p>{{checkin_data.visit_start | date: 'h:mm a'}}</p>
            </div>

            <div *ngIf="update_retailer_flag=='1'" class="edit ml0 mr0">
                <ion-list>
                    <ion-item class="cs-textarea1 " [ngClass]="{'cs-error':f.submitted && description?.invalid}">
                        <ion-label floating><span>Visit Remarks *</span> </ion-label>
                        <ion-textarea name="description" placeholder="Enter Visit Remarks" #description="ngModel" required  [(ngModel)]="checkin.description"></ion-textarea>
                    </ion-item>
                    <p  *ngIf="f.submitted && description?.invalid && checkin.description" class="error-line relative">Visit Remarks Is Invalid!</p>
                    <p  *ngIf="f.submitted && description?.invalid && !checkin.description" class="error-line relative">Visit Remarks Is Required!</p>
                </ion-list>
            </div>



        </div>

        <div class="border-sepration"></div>

        <div padding class="pt0">
            <div *ngIf=" update_retailer_flag=='0'">

                <div class="cs-heading1 pl0 pr0">
                    <p>Update information</p>
                </div>
                <div class="edit ml0 mr0">
                    <ion-list>


                        <ion-item [ngClass]="{'cs-error':f.submitted && dr_name?.invalid}"*ngIf=" ((checkin_data.dr_type!= '10') )">
                            <ion-label floating><span>Company Name <strong>*</strong></span></ion-label>
                            <ion-input type="text" readonly placeholder="Enter Company Name"  name="dr_name" #dr_name="ngModel"  [(ngModel)]="checkin.dr_name" [ngClass]="{'is-invalid':f.submitted && dr_name?.invalid}" required></ion-input>
                        </ion-item>
                        <p  *ngIf="f.submitted && dr_name?.invalid && checkin.dr_name" class="error-line">Company Name Is Invalid!</p>
                        <p  *ngIf="f.submitted && dr_name?.invalid && !checkin.dr_name" class="error-line">Company Name Is Required!</p>

                        <ion-item [ngClass]="{'cs-error':f.submitted && name?.invalid}">
                            <ion-label floating><span>Name <strong>*</strong></span></ion-label>
                            <ion-input type="text" readonly name="name" #name="ngModel" placeholder="Enter Name" [(ngModel)]="checkin.name" required [ngClass]="{'is-invalid':f.submitted && name?.invalid}"></ion-input>
                        </ion-item>
                        <p  *ngIf="f.submitted && name?.invalid && checkin.name" class="error-line">Name Is Invalid</p>
                        <p  *ngIf="f.submitted && name?.invalid && !checkin.name" class="error-line">Name Is Required</p>


                        <ion-item [ngClass]="{'cs-error':(f.submitted && ( dr_mobile?.invalid ||  checkin.dr_mobile?.length!=10 ))}" >
                            <ion-label floating><span>Mobile No.<strong>*</strong></span></ion-label>
                            <ion-input type="tel" readonly name="dr_mobile" placeholder="Enter Mobile" #dr_mobile="ngModel" [(ngModel)]="checkin.dr_mobile" minLength="10" maxLength="10"  required ></ion-input>
                        </ion-item>
                        <!-- <p  *ngIf="checkExist==true" class="error-line">Same Mobile No. Already Exists</p> -->
                        <p  *ngIf="f.submitted && dr_mobile?.invalid && !checkin.dr_mobile" class="error-line">Mobile No. Is Required</p>
                        <p  *ngIf="checkin.dr_mobile && checkin.dr_mobile?.length!=10 && f.submitted " class="error-line">Mobile No.Must be 10 Digits</p>


                         <ion-item [ngClass]="{'cs-error':(f.submitted && ( whatsApp?.invalid ||  checkin.whatsApp?.length!=10 ))}" >
                            <ion-label floating><span>WhatsApp No.</span></ion-label>
                            <ion-input type="tel" name="whatsApp" placeholder="Enter WhatsApp" #whatsApp="ngModel" [(ngModel)]="checkin.whatsApp" minLength="10" maxLength="10"  required ></ion-input>
                        </ion-item>
                        <!-- <p  *ngIf="checkExist==true" class="error-line">Same WhatsApp No. Already Exists</p> -->
                        <p  *ngIf="f.submitted && whatsApp?.invalid && !checkin.whatsApp" class="error-line">WhatsApp No. Is Required</p>
                        <p  *ngIf="checkin.whatsApp && checkin.whatsApp?.length!=10 && f.submitted " class="error-line">WhatsApp No.Must be 10 Digits</p>


                        <ion-item [ngClass]="{'cs-error':f.submitted && email?.invalid && !checkin.DealerExist}">
                            <ion-label floating><span>Email ID </span></ion-label>
                            <ion-input type="email" placeholder="Enter Email"    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email"  #email="ngModel" [(ngModel)]="checkin.email"  [ngClass]="{'is-invalid':f.submitted && email?.invalid}"></ion-input>
                        </ion-item>
                        <p  *ngIf="f.submitted && email?.invalid && !checkin.email" class="error-line">Email Is Required</p>
                        <p  *ngIf="f.submitted && email?.invalid && checkin.email" class="error-line">Email Is Invalid</p>

                        <ion-item>
                            <ion-label floating><span>Date of Birth</span></ion-label>
                            <ion-datetime display-format="MMM DD, YYYY"  placeholder="Select Date" [max]="today_date" type="text" name="dob" #dob="ngModel" [(ngModel)]="checkin.dob"  class="calander" ></ion-datetime>
                        </ion-item>

                        <ion-item>
                            <ion-label floating><span>Date of Anniversary</span></ion-label>
                            <ion-datetime display-format="MMM DD, YYYY"  placeholder="Select Date" [min]="checkin.dob" [max]="today_date" type="text" name="doa" #doa="ngModel" [(ngModel)]="checkin.doa"  class="calander" ></ion-datetime>
                        </ion-item>

                        <ion-item >
                            <ion-label floating><span>GST</span></ion-label>
                            <ion-input type="text"  name="gst"  placeholder="Enter GST"  [(ngModel)]="checkin.gst"></ion-input>
                        </ion-item>
                        <!-- <p  *ngIf="type == 'dealer' && f.submitted && gst?.invalid" class="error-line">Invalid</p> -->
                            <ion-item class="cs-selectable mt16"*ngIf=" ((checkin_data.dr_type== '3') )" >
                              <ion-label><span>Select Distributor<strong>*</strong></span></ion-label>
                              <ion-select   name="assign_dr_id" name="assign_dr_id" #assign_dr_id="ngModel" [(ngModel)]="checkin.assign_dr_id" required>
                                <ion-option *ngFor="let row of distributor_list;let i=index;" value="{{row.id}}" required>{{row.company_name | titlecase}}</ion-option>
                            </ion-select>
                            </ion-item>

                            <div class="cs-figure mt16" *ngIf="checkin_data.beat_code!='' && checkin_data.dr_type == '3'" >
                                <ng-container >
                                <p> <span>Beat Code :</span> {{checkin_data.beat_code}}</p>

                                <p><span>Name :</span>  {{checkin_data.area}}</p>
                            </ng-container>
                            </div>
                            <div class="edit ml0 mr0" *ngIf="checkin_data.beat_code=='' && checkin_data.dr_type == '3'">
                                <ion-list>
                                    <ion-item class="cs-normal-select mt16">
                                        <ion-label>Assign Beat Code</ion-label>
                                        <ionic-selectable
                                        item-content
                                        [(ngModel)]="checkin.beat_code"
                                        [items]="beatCodeList"
                                        itemValueField="beat_code"
                                        name="beat_code1"
                                        value="beat_code"
                                        itemTextField="beat_code1"
                                        [canSearch]="true"
                                        #selectComponent >
                                    </ionic-selectable>

                                      </ion-item>
                                </ion-list>

                            </div>
                    </ion-list>
                </div>

                <div class="cs-heading1 pl0 pr0" >
                    <p> Address Information</p>
                </div>

                <div class="edit ml0 mr0" >
                    <ion-list>
                        <ion-item class="mb0" [ngClass]="{'cs-error':f.submitted && pincode?.invalid}">
                            <ion-label floating><span>Pincode<strong>*</strong> </span></ion-label>
                            <ion-input   type="tel" minLength="6" placeholder="Enter Pincode"  maxLength="6" name="pincode"  #pincode="ngModel" [(ngModel)]="checkin.pincode" (input)="selectAddressOnBehalfOfPincode()" required></ion-input>
                        </ion-item>
                        <p  *ngIf="f.submitted && pincode?.invalid" class="error-line">Pincode Is Invalid</p>
                        <ion-item [ngClass]="{'cs-error':f.submitted && street?.invalid}">
                            <ion-label floating><span>Street<strong>*</strong> </span></ion-label>
                            <ion-input   type="text" placeholder="Enter Street"  name="street" #street="ngModel" [(ngModel)]="checkin.street" required ></ion-input>
                        </ion-item>
                        <p  *ngIf="f.submitted && street?.invalid" class="error-line">Street Is Invalid</p>

                        <ion-item class="cs-normal-select mt15" [ngClass]="{'cs-error':f.submitted && state?.invalid}">
                            <ion-label><span>State <strong>*</strong></span></ion-label>
                            <ion-select    name="state" name="state" #state="ngModel" [(ngModel)]="checkin.state" (ionChange)="get_district()" required >
                                <ion-option *ngFor="let row of state_list;let i=index;" value="{{row.state_name}}">{{row.state_name | titlecase}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <p  *ngIf="f.submitted && state?.invalid" class="error-line">State Is Invalid</p>

                        <ion-item class="cs-normal-select mb0" [ngClass]="{'cs-error':f.submitted && district?.invalid}">
                            <ion-label><span>District <strong>*</strong></span></ion-label>
                            <ion-select    name="district" name="district" #district="ngModel" [(ngModel)]="checkin.district" (ionChange)="selectarea()" required>
                                <ion-option *ngFor="let row of district_list" value="{{row.district_name}}">{{row.district_name}}</ion-option>
                            </ion-select>
                        </ion-item>
                        <p  *ngIf="f.submitted && district?.invalid" class="error-line">District Is Invalid</p>

                        <ion-item [ngClass]="{'cs-error':f.submitted && city?.invalid}">
                            <ion-label floating ><span>City <strong>*</strong></span></ion-label>
                            <ion-input  placeholder="Enter City"  type="text" name="city" #city="ngModel" [(ngModel)]="checkin.city" required></ion-input>
                        </ion-item>
                        <p  *ngIf="f.submitted && city?.invalid" class="error-line">City Is Invalid</p>

                        <!-- <ion-item [ngClass]="{'cs-error':f.submitted && area?.invalid}">
                            <ion-label floating ><span>Area </span></ion-label>
                            <ion-input placeholder="Enter Area"   type="text" name="area" #area="ngModel"  [(ngModel)]="checkin.area"></ion-input>
                        </ion-item> -->



                    </ion-list>
                </div>

            </div>

            <div *ngIf="update_retailer_flag=='1'" class="forword-page flat-item mt16">



                <a class="no-height" *ngIf=" (((checkin_data.dr_type== '1')||(checkin_data.dr_type== '2'||checkin_data.dr_type== '12'))&&checkin_data.order_flag == '0' )"  (click)="goTo('Primary')">
                    <p>
                        <span>
                            <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info">Create Order</div>
                </a>
                <a class="no-height" *ngIf=" (((checkin_data.dr_type== '1')||(checkin_data.dr_type== '2'||checkin_data.dr_type== '12'))&&checkin_data.order_flag == '1' )"  (click)="goOnOrderDetail(checkin_data.order_id)">
                    <p>
                        <span>
                            <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info"> Order Details</div>
                </a>
                <a class="no-height" *ngIf=" (checkin_data.dr_type== '3')&&checkin_data.order_flag == '0'"  (click)="goTo('Secondary')">
                    <p>
                        <span>
                            <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info">Create Order</div>
                </a>
                <a class="no-height" *ngIf=" (checkin_data.dr_type== '3')&&checkin_data.order_flag == '1'"  (click)="goOnOrderDetail(checkin_data.order_id)">
                    <p>
                        <span>
                            <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info"> Order Details</div>
                </a>
                <a class="no-height" (click)="goTo('FollowUp')">
                    <p>
                        <span>
                            <i *ngIf="checkin_data.followup_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.followup_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info">Create Followup</div>
                </a>

                <!-- <a *ngIf="(checkin_data.lead_type != 'Lead') && (checkin_data.dr_type != '0')" class="no-height" (click)="goTo('VisitingCard')">
                    <p >
                        <span>
                            <i *ngIf="checkin_data.visitingCard_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.visitingCard_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info">Visiting Card Request</div>
                </a> -->





                <!-- <a *ngIf="(checkin_data.dr_type != '0') && (checkin_data.lead_type != 'Lead') && (checkin_data.dr_type == '3')" class="no-height" (click)="goTo('MEET')">
                    <p>
                        <span>
                            <i *ngIf="checkin_data.contractor_meet_flag == '1'" class="material-icons">verified</i>
                            <i *ngIf="checkin_data.contractor_meet_flag == '0'" class="material-icons red-clr">cancel</i>
                        </span>
                    </p>
                    <div class="info">Add Contractor Meet</div>
                </a> -->

                <a class="no-height" (click)="goTo('UPLOAD')">
                    <p><span>
                        <i *ngIf="image_data.length>0" class="material-icons">verified</i>
                        <i *ngIf="image_data.length==0" class="material-icons red-clr">cancel</i>
                    </span>
                    <div class="info">Upload Document</div>
                </a>
            </div>

            <div class="add-new p0 pt16" *ngIf=" update_retailer_flag=='1' && image_data.length >0">
                <h4 >Upload Document </h4>
                <div class="uplode-image" >
                    <ul>
                        <li *ngFor="let pic of image_data;let i = index;">
                            <img src="{{pic}}">
                            <button><i class="material-icons" (click)="remove_image(i)">clear</i></button>

                        </li>
                    </ul>
                </div>
            </div>



            <div  *ngIf="update_retailer_flag=='1'" class="endcheck inherit p0">
                <div class="wp100 mt16">
                    <button color="theme" type="submit" ion-button block round>End Visit</button>
                </div>
            </div>

            <div  *ngIf=" update_retailer_flag=='0'" class="endcheck inherit p0" >
                <div class="wp100 mt16">
                    <button color="theme" type="submit"  ion-button block round>Save Information</button>
                </div>
            </div>

        </div>
    </form>

    <!-- ----WORKING---- -->
    <form class="pt0" *ngIf="checkin_data.checkin_with_new_dealer!='true'"  name="f" #f="ngForm"  (ngSubmit)="f.valid && presentalert(checkin_data.checkin_id,checkin.description,'old')"  padding>

        <div class="vstime mt10">
            <p>Start Time</p>
            <p>{{checkin_data.visit_start | date: 'h:mm a'}}</p>
        </div>

        <div class="edit ml0 mr0">
            <ion-list>
                <ion-item class="cs-textarea1 " [ngClass]="{'cs-error': (f.submitted && Contact_decision?.invalid)}" *ngIf="checkin_data.dr_type== '19'">
                    <ion-label floating><span>Did You Contact The Decision Maker(Owner/Contractor)*</span></ion-label>
                    <ion-select name="Contact_decision" #Contact_decision="ngModel" [(ngModel)]="Site_checkin.Contact_decision" placeholder="Select" required>
                      <ion-option value="Yes">Yes</ion-option>
                      <ion-option value="No">No</ion-option>
                    </ion-select>
                </ion-item>
                <p class="error-line relative"  *ngIf="f.submitted && Contact_decision?.invalid">Decision is Required!</p>
            </ion-list>
            <ion-list>
              <ion-item class="cs-normal-select mt15 mb0" [ngClass]="{'cs-error':f.submitted && stage_of_project?.invalid}" *ngIf="checkin_data.dr_type== '19'">
                <ion-label><span>Stage Of Project<strong>*</strong></span></ion-label>
                <ion-select name="stage_of_project" #stage_of_project="ngModel" [(ngModel)]="Site_checkin.stage_of_project" required>
                    <ion-option  value="Foundation">Foundation</ion-option>
                    <ion-option  value="Brickwork">Brickwork</ion-option>
                    <ion-option  value="Plaster(Pipes)">Plaster(Pipes)</ion-option>
                    <ion-option  value="Wireing" >Wireing</ion-option>
                </ion-select>
            </ion-item>
            <p class="error-line relative"  *ngIf="f.submitted && stage_of_project?.invalid">Stage Of Project is Required!</p>

            </ion-list>
            <ion-list>
                <ion-item class="cs-textarea1 " [ngClass]="{'cs-error': (f.submitted && site_status?.invalid)}" *ngIf="checkin_data.dr_type== '19'">
                    <ion-label floating><span>Status *</span></ion-label>
                    <ion-select name="status" #status="ngModel" [(ngModel)]="Site_checkin.site_status" placeholder="Select Status" required>
                      <ion-option value="Not able to meet the owner">Not able to meet the owner (another visit required)</ion-option>
                      <ion-option value="Site postponed">Site postponed (to be revisited)</ion-option>
                      <ion-option value="Win">Won (if the lead is converted)</ion-option>
                      <ion-option value="Partially won">Partially won (if more visits required for conversion)</ion-option>
                      <ion-option value="Lost">Lost (if the site is closed with competitor)</ion-option>
                    </ion-select>
                </ion-item>
                <p class="error-line relative"  *ngIf="f.submitted && site_status?.invalid">Status is Required!</p>
            </ion-list>
            <ion-list>
                <ion-item class="cs-textarea1 " [ngClass]="{'cs-error': (f.submitted && description?.invalid)}">
                    <ion-label floating><span>Visit Remark *</span></ion-label>
                    <ion-textarea name="description" #description="ngModel" [(ngModel)]="checkin.description"  placeholder="Enter Visit Remark" required></ion-textarea>
                </ion-item>
                <p class="error-line relative"  *ngIf="f.submitted && description?.invalid" >Visit Remark is Required!</p>
            </ion-list>
            <ion-list>
              <ion-item class="cs-textarea1 " [ngClass]="{'cs-error': (f.submitted && Competitor_on_the_project?.invalid)}" *ngIf="checkin_data.dr_type== '19' && Site_checkin.site_status=='Lost'">
                  <ion-label floating><span>Competitor on the project*</span></ion-label>
                  <ion-input name="Competitor_on_the_project" #Competitor_on_the_project="ngModel" [(ngModel)]="Site_checkin.Competitor_on_the_project"  placeholder="Enter Competitor on the project" required></ion-input>
              </ion-item>
              <p class="error-line relative"  *ngIf="f.submitted && Competitor_on_the_project?.invalid">Competitor on the project is Required!</p>
          </ion-list>
        </div>


        <ng-container  >
        <div class="forword-page flat-item mt16">
            <a class="no-height" *ngIf="  ((checkin_data.dr_type== '1')||(checkin_data.dr_type== '2'||checkin_data.dr_type== '12') )&& checkin_data.dr_type!= '11'&&checkin_data.order_flag == '0'" (click)="goTo('Primary')">
                <p>
                    <span>
                        <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Create Order</div>
            </a>
            <a class="no-height" *ngIf="  ((checkin_data.dr_type== '1')||(checkin_data.dr_type== '2'||checkin_data.dr_type== '12') )&& checkin_data.dr_type!= '11'&&checkin_data.order_flag == '1'" (click)="goOnOrderDetail(checkin_data.order_id)">
                <p>
                    <span>
                        <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Order Details</div>
            </a>
            <a class="no-height" *ngIf=" (checkin_data.dr_type == '3')&& checkin_data.dr_type!= '11'&&checkin_data.order_flag == '0'" (click)="goTo('Secondary')">
                <p>
                    <span>
                        <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Create Order</div>
            </a>
            <a class="no-height" *ngIf=" (checkin_data.dr_type == '3')&& checkin_data.dr_type!= '11'&&checkin_data.order_flag == '1'" (click)="goOnOrderDetail(checkin_data.order_id)">
                <p>
                    <span>
                        <i *ngIf="checkin_data.order_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.order_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Order Details</div>
            </a>
            <a class="no-height" (click)="goTo('FollowUp')" *ngIf="(checkin_data.dr_type != '0')&& checkin_data.dr_type!= '11'">
                <p>
                    <span>
                        <i *ngIf="checkin_data.followup_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.followup_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Create Followup</div>
            </a>

            <!-- <a *ngIf="(checkin_data.lead_type != 'Lead') && (checkin_data.dr_type != '0')" class="no-height" (click)="goTo('VisitingCard')">
                <p >
                    <span>
                        <i *ngIf="checkin_data.visitingCard_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.visitingCard_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Visiting Card Request</div>
            </a> -->





            <!-- <a *ngIf="(checkin_data.dr_type != '0') && (checkin_data.lead_type != 'Lead') && (checkin_data.dr_type == '3')" class="no-height" (click)="goTo('MEET')">
                <p>
                    <span>
                        <i *ngIf="checkin_data.contractor_meet_flag == '1'" class="material-icons">verified</i>
                        <i *ngIf="checkin_data.contractor_meet_flag == '0'" class="material-icons red-clr">cancel</i>
                    </span>
                </p>
                <div class="info">Add Contractor Meet</div>
            </a> -->

            <a class="no-height" (click)="goTo('UPLOAD')">
                <p><span>
                    <i *ngIf="image_data.length>0" class="material-icons">verified</i>
                    <i *ngIf="image_data.length==0" class="material-icons red-clr">cancel</i>
                </span>
            </p>
            <div class="info">Upload Document</div>
        </a>
    </div>
    </ng-container>
    <div class="add-new p0 pt16" *ngIf="image_data.length>0">
        <h4 >Upload Document </h4>
        <div class="uplode-image" >
            <ul>
                <li *ngFor="let pic of image_data;let i = index;">
                    <img src="{{pic}}">
                    <button><i class="material-icons" (click)="remove_image(i)">clear</i></button>

                </li>
            </ul>
        </div>
    </div>

    <div class="cs-figure mt16" *ngIf="checkin_data.beat_code!='' && checkin_data.dr_type == '3'" >
        <ng-container >
        <p> <span>Beat Code :</span> {{checkin_data.beat_code}}</p>

        <p><span>Name :</span>  {{checkin_data.area}}</p>
    </ng-container>
    </div>
    <div class="edit ml0 mr0" *ngIf="checkin_data.beat_code=='' && checkin_data.dr_type == '3'">
        <ion-list>
            <ion-item class="cs-normal-select mt16">
                <ion-label>Assign Beat Code</ion-label>
                <ionic-selectable
                item-content
                [(ngModel)]="checkin.beat_code"
                [items]="beatCodeList"
                itemValueField="beat_code"
                name="beat_code1"
                value="beat_code"
                itemTextField="beat_code1"
                [canSearch]="true"
                #selectComponent >
            </ionic-selectable>

              </ion-item>
        </ion-list>

    </div>



    <div class="endcheck inherit p0">
        <div class="wp100 mt16">
            <button color="theme" ion-button block round>End Visit</button>
        </div>
    </div>

</form>
<!-- ----WORKING END---- -->





</ion-content>
