<ion-header>
  <ion-navbar>
    <ion-title>Travel Plan</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="calender-section">
    <div class="head">
      <button (click)="goToLastMonth()"><i class="material-icons"> keyboard_arrow_left</i></button>
      <p>{{currentMonth}} {{currentYear}}</p>
      <button (click)="goToNextMonth()"><i class="material-icons" > keyboard_arrow_right</i></button>
    </div>
    <div class="body" >
        <ion-grid>
            <ion-row class="weekday">
              <ion-col col-1>Mo</ion-col>
              <ion-col col-1>Tu</ion-col>
              <ion-col col-1>We</ion-col>
              <ion-col col-1>Th</ion-col>
              <ion-col col-1>Fr</ion-col>
              <ion-col col-1>Sa</ion-col>
              <ion-col col-1>Su</ion-col>
            </ion-row>
            <ion-row class="date">
              <ion-col col-1  *ngFor="let lastDay of daysInLastMonth">
                <span> </span>
              </ion-col>
              <ion-col col-1  [ngClass]="day.isSunday=='true'?'grey-box':day.isHoliday=='true'?'blue-box': day.isOnLeave=='true'?'purple-box':day.travlePlan=='Approved'?'green-box':day.travlePlan=='Pending'?'yellow-box':day.travlePlan=='Reject'?'red-box':''" *ngFor="let day of daysInThisMonth;let i=index" (click)="goToPage(day)">
                <span  >
                    {{day.day}} 
                </span>
            </ion-col>

            <ion-col col-1 *ngFor="let lastDay of daysInNextMonth">
              <span> </span>
            </ion-col>
            </ion-row>
        </ion-grid>
    </div>

  </div>

  <div class="detail-section">
    <div class="row-first"> 
      <span class="white-box"></span>
      <p>No Travel Plan</p>
      <span class="yellow-box"></span>
      <p>Travel Plan Approval Pending</p>
    </div>

    <div class="row-first"> 
      <span class="green-box"></span>
      <p>Travel Plan Exist</p>
      <span class="red-box"></span>
      <p>Travel Plan Reject</p>
    </div>

    <div class="row-first"> 
      <span class="blue-box"></span>
      <p>Holiday</p>
      <span class="purple-box"></span>
      <p>Leave</p>
      <span class="grey-box"></span>
      <p>Weekly Rest</p>
    </div>

    <h2> Travel Plan Details</h2>
    <div >
      <div class="travel-chart" >
            <div class="circle-1" [ngClass]="{'P-5':percentages>0&&percentages<=5,'P-10':percentages>5&&percentages<=10,'P-15':percentages>10&&percentages<=15,'P-20':percentages>15&&percentages<=20,'P-25':percentages>20&&percentages<=25,'P-30':percentages>25&&percentages<=30,'P-35':percentages>30&&percentages<=35 ,'P-40':percentages>35&&percentages<=40,'P-45':percentages>40&&percentages<=45,'P-50':percentages>45&&percentages<=50,'P-55':percentages>50&&percentages<=55,'P-60':percentages>55&&percentages<=60,'P-65':percentages>60&&percentages<=65,'P-70':percentages>65&&percentages<=70,'P-75':percentages>70&&percentages<=75, 'P-80':percentages>75&&percentages<=80,'P-85':percentages>80&&percentages<=85,'P-90':percentages>85&&percentages<=90,'P-95':percentages>90&&percentages<=99,'P-100':percentages>=100}">
              <div class="outer">
                <div class="innear">
                  <div class="circle-2" >
                    <h1>{{percentages}}%</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="travel-detail">
              <p> TOTAL WORKING DAYS</p>
              <div class="count">
                <span class="pink"></span>
                <h1>{{travel_data.working_days}}</h1>
              </div>
              <p> TRAVEL PLANNED</p>
              <div class="count">
                <span class="green"></span>
                <h1>{{travel_data.travel_plan}}</h1>
              </div>

            </div>
      </div>
    </div>
   
  </div>

</ion-content>
