page-cancelpolicy-modal {

	.no-connection{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 85vh;
		flex-direction: column;
		grid-row-gap: 16px;

		img{
			height: 100px;
		}

		h2{
			font-size: 14px;
		}

		button{
			text-transform: capitalize;
			margin-top: 150px !important;
		}
	}
}
