<ion-header class="catalogue-header" no-border>
	<ion-navbar>
		<ion-title>My Leaves</ion-title>
		<ion-buttons end class="add-btn">
			
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
	</ion-refresher>
	
	<div class="nothing-here" *ngIf="!leave_data.length && load_data == '1' ">
		
		<div class="outer">
			<div class="innear">
				<img src="assets/imgs/no_found.svg" alt="">
				<p>Data not Available</p>
			</div>
		</div>
	</div>
	
	
	<div class="pd-left-right16 mb80">
		<div class="list-box mt16" *ngFor="let data of leave_data">
			<div class="upper">
				<div class="left-date">
					<ng-container *ngIf="data.type != 'Half Day'">
						<div class="date-section">
							<p>{{data.leave_start_date | date:'d MMM, y'}}</p>
							<p>Date From</p>
						</div>
						<div class="date-section">
							<p>{{data.leave_end_date | date:'d MMM, y'}}</p>
							<p>Date To</p>
						</div>
						<div class="date-section"  *ngIf="data.total_days">
							<p>{{data.total_days}}</p>
							<p>Total Days</p>
						</div>
						<div class="date-section">
							<p>Full Day</p>
							<p>Type</p>
						</div>

					</ng-container>
					
					<ng-container *ngIf="data.type == 'Half Day'">
						<div class="date-section">
							<p>{{data.leave_start_date | date:'d MMM, y'}}</p>
							<p>Date </p>
						</div>
						
						<div class="date-section">
							<p>Half Day</p>
							<p>Type</p>
						</div>

					</ng-container>
					
				</div>
				
				<div class="right-date" *ngIf="!userId && showStatus">
					<button class="{{data.status}}"><p>{{data.status}}</p></button>
				</div>
			</div>
			<div class="mid">
				<div class="content-info">
					<div class="right-info">
						<p>Subject : <span>{{data.subject | titlecase}}</span></p>
					</div>
				</div>
			</div>
			<div class="lower one-line">
				<p>Description : <span>{{data.description}}</span></p>
			</div>
			<div class="lower one-line" *ngIf="data.reject_remark">
				<p>Reject Remark : <span>{{data.reject_remark}}</span></p>
			</div>
		</div>  
	</div>
	
	<ion-fab right bottom *ngIf="!userId">
		<button ion-fab color="danger" (click)="addPage()" ><ion-icon name="add"></ion-icon></button>
	</ion-fab>
	
</ion-content>
