<ion-header>
    <ion-navbar>
        <ion-title>Products</ion-title>
        <ion-buttons end >
            <button ion-button class="top-cart-btn" *ngIf="cart_array?.length" (click)="toGoOrderPage()">
                <span class="counter">{{cart_array.length}}</span>
                <i class="material-icons" >shopping_cart</i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar>
        <div class="search add-search">
            <div class="filter pr16">
                <ion-searchbar type='text' name='search_key' [(ngModel)]="filter.search_key" (keyup)="getProductList()"></ion-searchbar>
                <!-- <button class="filter-btn" ion-button (click)="(filter_active = !filter_active);  (filter_category_active = true); (filter_price_active = false); ">
                    <i class="material-icons">filter_alt</i>
                    filter
                </button> -->
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content  pullingIcon="arrow-dropdown" pullingText="Pull to refresh"  refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
   
  <div class="bg-outer">
        <div class="bg-inner">
                     <div class="grid-item">
                <!-- loop start -->
                <div class="grid-item-content" *ngFor="let list of products; let i=index" (click)="goOnProductDetailPage(list.id)">
                    <div class="thumbnail">
                        <!-- <button class="add-fav" [ngClass]="{'active':list.favorite == true}" *ngIf="userId !=''" ion-button><i class="material-icons">&nbsp;</i></button> -->
                        <img *ngIf="list.image != '' && list.image != null" src="{{image_url+list.image}}" alt="">
                        <img *ngIf="list.image == '' || list.image == null" src="assets/imgs/default.png" alt="">
                    </div>
                    <div class="item-info">
                        <p>{{list.product_name}}</p>
                        <p>{{data.product_mrp}}</p>
                    </div>
                </div>
                <!-- loop end -->
            </div>
        </div>
    </div>

    <!-- loop start -->
    <!-- <div class="cs-list-full" *ngFor="let list of products; let i=index" >
        <div class="top-secation" >
            <p >{{list.product_name}}</p>


            <code (click)="goOnProductDetailPage(list.id)">{{list.cat_no}}</code>
            
            <button class="add-fav" ion-button><i class="material-icons">&nbsp;</i></button>
        </div>
        <div class="mid-secation">
            <div class="img-thumnail" (click)="goOnProductDetailPage(list.id)">
                <img *ngIf="list.image != '' && list.image != null" src="{{image_url+list.image}}" alt="">
                <img *ngIf="list.image == '' || list.image == null" src="assets/imgs/default.png" alt="">
            </div>
            <div class="item-desc">
                <div (click)="goOnProductDetailPage(list.id)">
                    <span>Category</span>
                  /  <p>{{list.category}}</p>
                </div>
                <div (click)="goOnProductDetailPage(list.id)">
                    <span>HSN Code</span>
                    <p>{{list.hsn}}</p>
                </div>
                <div class="value">&#8377; {{list.price}}</div>
                
                <div class="item-cart-secation" >
                    <ul>
                        <li>
                            <button class="qty-btn" ion-button (click)="quantity(i,'remove')"><i class="material-icons">remove</i></button>
                        </li>
                        <li >
                            <input type="number" placeholder="Qty" (keypress)="MobileNumber1($event)" name="qty{{i}}" [(ngModel)]="list.qty">
                        </li>
                        <li >
                            <button class="qty-btn" ion-button (click)="quantity(i,'add')"><i class="material-icons">add</i></button>
                        </li>
                        <li >
                            <button class="add-cart" ion-button [disabled]="!list.qty" (click)="addToCart(list,i)"><i class="material-icons">shopping_cart</i>Add Cart</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    
    <!-- loop end -->
    <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)"  *ngIf="flag!=1">
        <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
    </ion-infinite-scroll-content>
</ion-infinite-scroll> -->

</ion-content>
<!-- active class add modal-outer -->
<div class="modal-outer" [ngClass]="{'active' : filter_active == true }">
    <div class="filter-modal">
        <div class="filter-head">
            <button ion-button class="close-modal" (click)="filter_active = !filter_active"><i class="material-icons">keyboard_arrow_down</i></button>
            <h2>Filter</h2>
            <span (click)="getFilterData(); (filter_active = !filter_active); getCatalogueData();">Clear</span>
        </div>
        <div class="filter-body">
            <div class="filtr-btn">
                <!-- <button ion-button [ngClass]="{'active':filter_category_active == true}" (click)="filter_price_active = false;filter_category_active = true;">Category</button> -->
                <button ion-button [ngClass]="{'active':filter_price_active == true}" (click)="filter_price_active = true;filter_category_active = false;" >Price</button>
                <!-- <button ion-button>Ware House</button> -->
            </div>
            <!-- <div class="filter-list ds-none" [ngClass]="{'ds-blcok' : filter_category_active == true}">    -->
                <!-- <ion-list radio-group name="price" [(ngModel)]="filter.price" #price="ngModel" (ionChange)="filter_by(filter.price,'','price')">  -->
                    <!-- <ion-item>
                        <ion-radio value="low"></ion-radio>
                        <ion-label>Price Low - High</ion-label>
                    </ion-item>
                    
                    <ion-item>
                        <ion-radio value="high"></ion-radio>
                        <ion-label>Price High - Low</ion-label>
                    </ion-item> -->
                <!-- </ion-list> -->
            
            
                <!-- <ion-item *ngFor="let data of category_list">
                    <ion-label>{{data.category_name}}</ion-label>
                    <ion-label>{{data.product_mrp}}</ion-label>
                    <ion-checkbox [(ngModel)]="data.checked" (ionChange)="filter_by(data.checked,data.id,'category')"></ion-checkbox>
                </ion-item>
            </div> -->
            
            <div class="filter-list ds-none" [ngClass]="{'ds-blcok' : filter_price_active == true}">
                <ion-list radio-group name="price" [(ngModel)]="filter.price" #price="ngModel" (ionChange)="filter_by(filter.price,'','price')"> 
                    <ion-item>
                        <ion-radio value="asc"></ion-radio>
                        <ion-label>Price Low - High</ion-label>
                    </ion-item>
                    
                    <ion-item>
                        <ion-radio value="desc"></ion-radio>
                        <ion-label>Price High - Low</ion-label>
                    </ion-item>
                </ion-list>
            </div>
                <button class="footer-btn" ion-button (click)="getProductList(); (filter_active = !filter_active); ">Apply</button>
        </div>
    </div>
</div>

