<ion-header>
    <ion-navbar>
        <ion-title>Add  Call Activity</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <form name="f" #f="ngForm" (ngSubmit)="f.valid && submit()">
        <div class="edit">
            <ion-list>
                
               
            
           
            <!-- <p  *ngIf="f.submitted && !activity_type.valid" class="error-line"> Activity Type Is Required</p> -->
            
            <!-- <ion-item class="cs-normal-select mt15 mb0" [ngClass]="{'cs-error':f.submitted && !category.valid}">
                <ion-label><span>Stage</span></ion-label>
                <ion-select name="category" #category="ngModel" [(ngModel)]="form.category" required>
                    <ion-option value="Hot">Hot</ion-option>
                    <ion-option value="Cold">Cold</ion-option>
                    <ion-option value="Warm">Warm</ion-option>
                    <ion-option value="Close">Close</ion-option>
                </ion-select>
            </ion-item> -->
            <!-- <p  *ngIf="f.submitted && !category.valid" class="error-line">Select Category Is Required</p> -->
            
            <!-- <ion-item class="cs-normal-select mt15 mb0" [ngClass]="{'cs-error':f.submitted && !stage.valid}">
                <ion-label><span>Status</span></ion-label>
                <ion-select name="stage" #stage="ngModel" [(ngModel)]="form.stage" required>
                    <ion-option value="Lead Bank">Lead Bank</ion-option>
                    <ion-option value="Qualified">Qualified</ion-option>
                    <ion-option value="Disqualified">Disqualified</ion-option>
                    <ion-option value="Win">Win</ion-option>
                    <ion-option value="Lost">Lost</ion-option>
                </ion-select>
            </ion-item> -->
            <!-- <p  *ngIf="f.submitted && !stage.valid" class="error-line">Stage Is Required</p> -->
            
            <ion-item class="cs-textarea1" [ngClass]="{'cs-error':f.submitted && !remark.valid}">
                <ion-label floating><span> Activity Remarks </span></ion-label>
                <ion-textarea  placeholder="Enter remark"  type="text" name="remark" #remark="ngModel" [(ngModel)]="form.remark" required></ion-textarea>
            </ion-item>
            <p  *ngIf="f.submitted && !remark.valid" class="error-line">Remark Is Invalid</p>
            
            <div class="check-box" >
                <ion-item>
                    <ion-label>Do you want to create any follow up ?</ion-label>
                    <ion-checkbox color="theme"  name="isFollowup"  #isFollowup="ngModel" [(ngModel)]="form.isFollowup" ></ion-checkbox>
                </ion-item>                        
            </div>
            
            <ng-container *ngIf="form.isFollowup">
                <!-- <ion-item class="cs-normal-select mb0" [ngClass]="{'cs-error':f.submitted && !followup_type.valid}" >
                    <ion-label><span>Followup Type</span></ion-label>
                    <ion-select name="followup_type"  #followup_type="ngModel" [(ngModel)]="form.followup_type" required>
                        <ion-option value="Meeting">Meeting</ion-option>
                        <ion-option value="Call">Call</ion-option>
                        <ion-option value="SMS">SMS</ion-option>
                        <ion-option value="Email">Email</ion-option>
                    </ion-select>
                </ion-item> -->
                
                
                <ion-item  >
                    <ion-label floating><span>Next Followup Date *</span></ion-label>
                    <ion-datetime  placeholder ="Next Followup Date" name="followup_date" min="{{today_date}}" [(ngModel)]="form.followup_date" #followup_date="ngModel" required></ion-datetime>
                </ion-item>
                
                <!-- <p   class="error-line relative">Followup Date is Required!</p> -->
                
                <ion-item class="cs-textarea1" [ngClass]="{'cs-error':f.submitted && !description.valid}">
                    <ion-label floating><span>Description </span></ion-label>
                    <ion-textarea  placeholder="Enter Description"  type="text" name="description" #description="ngModel" [(ngModel)]="form.description" required></ion-textarea>
                </ion-item>
                <p  *ngIf="f.submitted && !description.valid" class="error-line">Description Is Invalid</p>
            </ng-container>
        </ion-list>
    </div>
    
    <div class="padding16">
        <button ion-button class="cs-btn" type="submit">Save</button>
    </div>		  
</form>
</ion-content>